<div class="container-fluid">
<style type="text/css">
		p{margin-top: 0; margin-bottom: 10px;}
		ul,
		ol{ display: block; clear: both; margin-bottom: 15px; margin-top: 15px; padding-left: 20px; }
		ul li{padding-left: 28px;}
		ul li,
		ol li{ display: block; clear: both; position: relative; padding-left: 22px; }
		ul li + li,
		ol li + li{ margin-top: 6px; }

		ul>li:before{ content: "";width: 10px;height: 10px;background:#303030;position: absolute;left: 0;top: 5px;background-size: 100%; border-radius: 100%;}
		ul>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }

		ol{ list-style-type: lower-alpha; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 18px;}
		ol li{display: list-item; text-align: -webkit-match-parent;list-style: lower-alpha; padding-left: 10px;}
		ol>li li{ list-style: none; padding-left: 25px; }
		ol>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }
		.cheakbox{  position: relative; border: 2px solid #4dbfb6; height: 30px; width: 30px; display: block; border: 4px solid #e8e9ed; border-radius: 6px; background: #fff; box-shadow: -1px -1px 4px rgb(0 0 0 / 32%), inset -1px -1px 3px rgb(0 0 0 / 32%) }
		.cheakbox.cheak{  }
		.cheakbox.cheak:after {content: ""; position: absolute; top: 48%; left: 49%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,
			-50%); width: 15px; height: 15px; background: #170da1; }.table.site-table{border: 2px  solid #192351;}

		.table.site-table{border: 1px  solid #192351 ; text-align: center;}
table.table.site-table tr{background: #E8E9ED;}
table.table.site-table tr th{background: transparent; border-color: #192351;border-width: 2px;}
table.table.site-table thead tr{background: #5e6586;}
table.table.site-table thead tr tr{background: transparent!important;}
table.table.site-table tr th table tr:first-child th{border-top: none;border-left: none;border-right: none;}
table.table.site-table tr th table tr:last-child th{border-bottom: none;}
table.table.site-table tr th table tr:last-child th:first-child{border-left: none;}
table.table.site-table tr th table tr:last-child th:last-child{border-right: none;}
table.table.site-table tr td{border-color: #192351!important;border-width: 1px; border-style: solid; padding: 5px 1px; font-size: 12px;}
table.table.site-table tr td input{color: #000!important;}

.table-striped tbody tr:nth-of-type(odd) {
    background: #fff!important;
}
.tabel-event table.table tr:nth-child(even) {
    background: #e8e9ed;
}

	</style>
<table width="100%" cellpadding="0"  cellspacing="0" border="0" bgcolor="#fff" style="font-family: 'arial'; line-height: 1.5;" >
		<tr>
			<td>
				<table width="1000" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #848484; color: #848484; font-size: 20px;">Arztfragebogen zur Kostenübernahme von CannaXan 701-1.1...</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td>
										<table cellpadding="5" cellspacing="0" width="100%">
											<tr>
												<td style="color: #050000;">
													Arztpraxis Mustermann: Arztpraxis <br>
													Straße: 123-A <br>
													PLZ : 123 Ort: ort1212												</td>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr style="color: #050000;">
												<td>Ärztliche Bescheinigung zur Verwendung von Cannabinoiden nach § 31 Abs. 6 SGB V</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<span>Name des Patienten: <strong>01 Patient01</strong></span><br>
													<span>geboren am : <strong>20.07.2020</strong></span><br>
													<span>Versichertennummer: <strong>A100000000</strong></span>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													1. Erfolgt die Verordnung im Rahmen der genehmigten Versorgungnach § 37b SGB V (spezialisierte ambulante Palliativversorgung)?<br>
													<ul>
														<li>nein</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													2. Welches Produkt soll dem Patienten in welcher Dosierung und Darreichungsform verordnet werden? Welche Inhaltsstoffe hat dieses Produkt?<br>
													<table width="100%" cellpadding="5" cellspacing="0">
														<tr>
															<td>
																<span>Wirkstoff: <strong>CannaXan-701-1.1</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Handelsname: <strong>CannaXan-THC</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Darreichungsform: <strong>oromukosales Spray, flüssig</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Verordnungsmenge THC [mg] in 30 Tagen: <strong>: 101,5</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Tagesdosis: Auftitration gemäß ärztlichem Therapieplan. Ermittlung der optimalen Tagesdosis erst nach Ende der Titrationsphase ermittelbar</span>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													3. Welche Erkrankung soll behandelt werden?
													Ist die Erkrankung schwerwiegend?
													<br>
													<ul>
														<li>
															
															Lokalisationsbezogene (fokale) (partielle) symptomatische Epilepsie und epileptische Syndrome mit komplexen fokalen Anfällen, G40.2														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													4. Wie lautet das Behandlungsziel?
																											<ul>

																															<li>
																	Kontrolle des Appetits																</li>
																
																															<li>
																	Kontrolle des Gewichtsverlusts																</li>
																
																															<li>
																	Verbesserung der Schmerzsituation																</li>
																
																													</ul>
																										<!-- Falls ja:
													<ul>
														<li>Endgradig chronifizierte, schwerste Schmerzen mit einem Schmerzwert von auf einer NRS Skala von 0 bis 10.</li>
														<li>Aufhebung der Schlafarchitektur</li>
														<li>Depressive Entwicklung</li>
														<li>latente Suizidalität</li>
														<li>Einschränkung der beruflichen Tätigkeit
															<ul>
																<li>keine</li>
																<li>mittel</li>
															</ul>
														</li>
														<li>Die Gesamtsymptomatik erfüllt die Bedingungen einer palliativen Begleitung im Endstadium</li>
													</ul> -->
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													5. Ist die Erkrankung schwerwiegend?
													<br>

																											<ul>
															
															
															
															
																														
																															<li>Zunehmende Bettlägerigkeit aufgrund Schmerzen Kurze Beschreibung der Grunderkrankung
																	<ul>
																		<li>vbvbvb</li>
																	</ul>
																</li>
															
															
																															<li>Die Lebenserwartung der/Patientin, des Patienten wird auf ca. 9 Monate geschätzt.</li>
																													</ul>
																										<br>
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?

													<br>

																											<ul>
																															<li>eine lebensbedrohliche Verschlimmerung</li>
															
															
																													</ul>
																									</td>
											</tr>
											<!-- <tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?
													<br>
																											<ul>
															
															
															
															
																														
																															<li>Zunehmende Bettlägerigkeit aufgrund Schmerzen Kurze Beschreibung der Grunderkrankung
																	<ul>
																		<li>vbvbvb</li>
																	</ul>
																</li>
															
															
																															<li>Die Lebenserwartung der/Patientin, des Patienten wird auf ca. 9 Monate geschätzt.</li>
																													</ul>
																										
													<br>

																											<ul>
																															<li>eine lebensbedrohliche Verschlimmerung</li>
															
															
																													</ul>
																									</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													6. Bestehen weitere Erkrankungen?
													<br>
													<table width="100%" cellspacing="0" cellpadding="5">
														<tr>
															<td width="75%">RELEVANTE BEGLEITERKRANKUNG</td>
															<td width="25">
																BESTEHEND SEIT
															</td>
														</tr>
													</table>
													<table width="100%" cellspacing="0" cellpadding="5" style="margin-top: 30px;">
														<tr>
															<td width="30px"></td>
															<td></td>
															<td>> 3</td>
															<td width="50px">> 6</td>
															<td width="50px">> 12</td>
															<td width="120px"> MONATEN</td>
														</tr>
																																													<tr>
																	<td width="50px">
																		<strong style="font-size: 24px; color: #192351;">1</strong>
																	</td>
																	<td>T1</td>
																	<td width="50px"><span class="cheakbox "></span></td>
																	<td width="50px"><span class="cheakbox "></span></td>
																	<td width="50px"><span class="cheakbox cheak"></span></td>
																	<td width="120px"></td>
																</tr>
																																											<!-- <tr>
															<td width="50px">
																<strong style="font-size: 24px; color: #192351;">2</strong>
															</td>
															<td>welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet</td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox cheak"></span></td>
															<td width="120px"></td>
														</tr> -->
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													7. Welche Medikation wird aktuell verwendet? (Bitte Angaben von Wirkstoff und Dosis)
													<!-- <br><strong style="color: red">[Verlaufskontrolle „Begleitmedikation“]</strong> -->
													<br>
													<table class="table site-table table-striped" width="100%" cellpadding="0" cellspacing="0" style=" border: 1px  solid #192351; border-collapse: collapse;">
										             <tr style="background: #5e6586!important;">
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nr.</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Wirksoff</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Handelsname</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stärke</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Form</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Morgens</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Mittags</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Abends</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nachts</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Tagesdosis</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Grund</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Startdatum</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stopdatum</th>
										            </tr>

										            
										            											            		<tr>
												            	<td>1</td>
												            	<td>T2</td>
												            	<td>M2</td>
												            	<td>TT2</td>
												            	<td>ml</td>
												            	<td>Zäpfchen</td>
												            	<td>1</td>
												            	<td>1</td>
												            	<td>4</td>
												            	<td>5</td>
												            	<td>Stück</td>
												            	<td>11</td>
												            	<td>Schmerz</td>
												            	<td>29.07.2020</td>
												            	<td></td>
												            </tr>
										            											            										         </table>
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													8. Welche weiteren Therapien werden zurzeit durchgeführt?
													<br><!-- <strong style="color: red">[Arztfragebogen 4/15]</strong> -->
													<ul>
																													
															<li>Physiotherapie</li>
														 
																													
															<li>Interventionelle Verfahren</li>
														 
																													
															<li>Psychotherapie</li>
																												
																																											
															<li>Akupunktur</li>
																																									</ul>
													<br>
													<p>9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?</p>
													<ul>
																													
															<li>WHO Stufe 1
																<ul>
																																
																		<li>Nicht-Opioidanalgetika
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Freifeld																																										<li>454545</li>
																																									</ul>
																																																													<ul>Freifeld																																													<li>qqqqqqqqqq</li>
																																											</ul>
																						
																																																													<ul>Freifeld																																										<li>ddddd</li>
																																										</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							keine ausreichende Schmerzreduktion																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Übelkeit																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Ödembildung																					
																																									</ul>
																																																										<ul>Nephrologisch:
																					Leberinsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Freifeld																					
																																											<li>bnghbnghbn</li>
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																																
																		<li>Steroide
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Prednison																																								</ul>
																																																													<ul>Ketoprofen       																																											</ul>
																						
																																																													<ul>Dexamethason																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							keine ausreichende Schmerzreduktion																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Obstipation																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Freifeld																					
																																											<li>asqw</li>
																																									</ul>
																																																										<ul>Nephrologisch:
																					Freifeld																					
																																											<li>zxcxzc</li>
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Freifeld																					
																																											<li>eteteetetetet</li>
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																																																	
																		<li>Neuroleptika
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Promethazin																																								</ul>
																																																													<ul>Freifeld																																													<li>1231456</li>
																																											</ul>
																						
																																																													<ul>Chlorprothixen																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							keine ausreichende Schmerzreduktion																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Obstipation																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Freifeld																					
																																											<li>jfsgnfklgjflk</li>
																																									</ul>
																																																										<ul>Nephrologisch:
																					Leberinsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Schwindel																					
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																																																	
																		<li>Antidepressiva
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Mirtazepin																																								</ul>
																																																													<ul>Milnacipran																																											</ul>
																						
																																																													<ul>Freifeld																																										<li>bvbvbvbvvbvbvb</li>
																																										</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							erfolglos																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Freifeld																				
																																									<li>yyyyyyyyyyyyy</li>
																																							</ul>
																																							
																																							<ul>Kardial:
																					Herzrythmusstörung																					
																																									</ul>
																																																										<ul>Nephrologisch:
																					Leberinsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Freifeld																					
																																											<li>mmmmmmmmmmm</li>
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																																																	
																		<li>Sedativa
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Midazolam																																								</ul>
																																																													<ul>Diazepam																																											</ul>
																						
																																																													<ul>Lorazepam																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							keine ausreichende Schmerzreduktion																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Obstipation																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Ödembildung																					
																																									</ul>
																																																										<ul>Nephrologisch:
																					Niereninsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Schwindel																					
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																	
																																
																		<li>Antikonvulsiva
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Freifeld																																										<li>sjnsjkcsdjklf</li>
																																									</ul>
																																																													<ul>Topiramat																																											</ul>
																						
																																																													<ul>Lamotrigin																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Übelkeit																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Ödembildung																					
																																									</ul>
																																																										<ul>Nephrologisch:
																					Leberinsuffizienz      																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Reaktion																					
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																	
																																
																		<li>Antiemetika
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Metoclopramid																																								</ul>
																																																													<ul>Freifeld																																													<li>vvnvnvnvnvvnvn</li>
																																											</ul>
																						
																																																													<ul>Netupitant																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							keine ausreichende Schmerzreduktion																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Appetitverlust																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Freifeld																					
																																											<li>moomomomom</li>
																																									</ul>
																																																										<ul>Nephrologisch:
																					Freifeld																					
																																											<li>opoopppp</li>
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Freifeld																					
																																											<li>uiuiuiuuiui</li>
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																																		
																																	</ul>
															</li>
																												
													
																													
															<li>WHO Stufe 2
																<ul>
																																
																		<li>Schwach wirksame Opioide
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Dihydrocodein																																								</ul>
																																																													<ul>Freifeld																																													<li></li>
																																											</ul>
																						
																																																													<ul>Tilidin & NaloxonTilidin																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							erfolglos																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Magenblutung																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Herzrythmusstörung																					
																																									</ul>
																																																										<ul>Nephrologisch:
																					Niereninsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Reaktion																					
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
																	
															</li>
																															
																												
																													
															<li>WHO Stufe 3
																<ul>
																																
																		<li>Stark wirksame Opioide
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Intravenöses Fentanyl																																								</ul>
																																																													<ul>Freifeld																																													<li>xcxcxcxcxcxcx</li>
																																											</ul>
																						
																																																													<ul>Oxycodon & Naloxon																																									</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							erfolglos																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																						<ul>Gastrointestinal:
																				Ulcus																				
																																							</ul>
																																							
																																							<ul>Kardial:
																					Freifeld																					
																																											<li>0000000</li>
																																									</ul>
																																																										<ul>Nephrologisch:
																					Niereninsuffizienz																					
																																									</ul>
																																																										<ul>Neurologisch/psychotrop:
																					Paradoxe																					
																																									</ul>
																																						</li>
																			</ul>
																																				</li>
															
															</li>
																															
																</ul>
															</li>
																												
																												
															<li>Spasmolytika

																<ul><li><strong>Medikament:</strong>
																																		<ul>Butylscopolamin																																		</ul>
																																																				<ul>Scopolamintransdermal																																					</ul>
																			
																																																				<ul>Glycopyrrolat																																			</ul>
																			
																																	</li></ul>
																<ul><li>
																																	erfolglos																																</li></ul>
																																	
																<ul><li>Nebenwirkungen:
																																<ul>Gastrointestinal:
																	Übelkeit																	
																																	</ul>
																																	
																																	<ul>Kardial:
																		Herzrythmusstörung																		
																																			</ul>
																																																	<ul>Nephrologisch:
																		Niereninsuffizienz																		
																																			</ul>
																																																	<ul>Neurologisch/psychotrop:
																		Schwindel																		
																																			</ul>
																																</li>
																</ul>
																														</li>
															</li>
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<!-- <tr>
												<td style="color: #050000;">
													9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?
													<br><strong style="color: red">[Arztfragebogen 4/15 bis 13/15]</strong>
												</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													10. Warum stehen allgemein anerkannte, dem medizinischen Standard entsprechende alternative Behandlungsoptionen nicht zur Verfügung?
													<br>
													<br>
													Die allgemein anerkannten Standards zur Behandlung der unter 3. genannten Indikation sind ausgeschöpft.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													11. Soll die bisherige Medikation parallel zur Therapie mit cannabisbasierten Medikamenten fortgeführt werden?
													<br>
													<br>
													Während der Auftitrationsphase von dem unter 2. benanntes 
													Medikament soll die bisherige Medikation beibehalten werden. 
													Nach der Auftitrationsphase soll die bisherige Medikation 
													reduziert werden.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													13. Bitte benennen Sie Literatur, aus der hervorgeht, dass 
													eine nicht ganz entfernt liegende Aussicht auf eine spürbare 
													positive Einwirkung auf den Krankheitsverlauf oder auf 
													schwerwiegende Symptome besteht.
													<br>
													<!-- <br><strong style="color: red">[siehe Excel Liste Indikation_Literatur]</strong> -->

																											<ul>
																															<li><strong>2018:</strong> MacCallum CA, Russo EB (2018) Practical considerations in medical cannabis administration and dosing. Eur J Intern Med 49:12-19. doi:10.1016/j.ejim.2018.01.004</li>
																															<li><strong>2018:</strong> Szaflarski JP, Bebin EM, Comi AM, Patel AD, Joshi C, Checketts D, Beal JC, Laux LC, De Boer LM, Wong MH, Lopez M, Devinsky O, Lyons PD, Zentil PP, Wechsler R, group CEs (2018) Long-term safety and treatment effects of cannabidiol in children and adults with treatment-resistant epilepsies: Expanded access program results. Epilepsia 59 (8):1540-1548. doi:10.1111/epi.14477</li>
																															<li><strong>2018:</strong> Stockings E, Zagic D, Campbell G, Weier M, Hall WD, Nielsen S, Herkes GK, Farrell M, Degenhardt L. Evidence for cannabis and cannabinoids for epilepsy: A systematic review of controlled and observational evidence. J Neurol Neurosurg Psychiatry 2018 Jul;89(7):741-53. </li>
																															<li><strong>2017:</strong> Iffland K, Grotenhermen F (2017) An Update on Safety and Side Effects of Cannabidiol: A Review of Clinical Data and Relevant Animal Studies. Cannabis Cannabinoid Res 2 (1):139-154. doi:10.1089/can.2016.0034</li>
																															<li><strong>2016:</strong> Tzadok M, Uliel-Siboni S, Linder I, Kramer U, Epstein O, Menascu S, Nissenkorn A, Yosef OB, Hyman E, Granot D, et al. CBD-enriched medical cannabis for intractable pediatric epilepsy: The current israeli experience. Seizure 2016 Feb;35:41-4. </li>
																															<li><strong>2016:</strong> Devinsky O, Marsh E, Friedman D, Thiele E, Laux L, Sullivan J, Miller I, Flamini R, Wilfong A, Filloux F, et al. Cannabidiol in patients with treatment-resistant epilepsy: An open-label interventional trial. Lancet Neurol 2016 Mar;15(3):270-8. </li>
																															<li><strong>2015:</strong> Hussain SA, Zhou R, Jacobson C, Weng J, Cheng E, Lay J, Hung P, Lerner JT, Sankar R. Perceived efficacy of cannabidiol-enriched cannabis extracts for treatment of pediatric epilepsy: A potential role for infantile spasms and lennox-gastaut syndrome. Epilepsy Behav 2015 Jun;47:138-41. </li>
																															<li><strong>2015:</strong> dos Santos RG, Hallak JE, Leite JP, Zuardi AW, Crippa JA. Phytocannabinoids and epilepsy. J Clin Pharm Ther 2015 Apr;40(2):135-43. </li>
																															<li><strong>2015:</strong> Soltesz I, Alger BE, Kano M, Lee SH, Lovinger DM, Ohno-Shosaku T, Watanabe M. Weeding out bad waves: Towards selective cannabinoid circuit control in epilepsy. Nat Rev Neurosci 2015 May;16(5):264-77.</li>
																															<li><strong>2015:</strong> Detyniecki K, Hirsch L. Marijuana use in epilepsy: The myth and the reality. Curr Neurol Neurosci Rep 2015 Oct;15(10):65,015-0586-5. </li>
																															<li><strong>2015:</strong> Press CA, Knupp KG, Chapman KE. Parental reporting of response to oral cannabis extracts for treatment of refractory epilepsy. Epilepsy Behav 2015 Apr;45:49-52.</li>
																															<li><strong>2014:</strong> Devinsky O, Cilio MR, Cross H, Fernandez-Ruiz J, French J, Hill C, Katz R, Di Marzo V, Jutras-Aswad D, Notcutt WG, Martinez-Orgado J, Robson PJ, Rohrback BG, Thiele E, Whalley B, Friedman D (2014) Cannabidiol: pharmacology and potential therapeutic role in epilepsy and other neuropsychiatric disorders. Epilepsia 55 (6):791-802. doi:10.1111/epi.12631</li>
																															<li><strong>2014:</strong> Gloss D, Vickrey B. Cannabinoids for epilepsy. Cochrane Database Syst Rev 2014 Mar 5;3:CD009270. </li>
																															<li><strong>2014:</strong> Ladino LD, Hernandez-Ronquillo L, Tellez-Zenteno JF. Medicinal marijuana for epilepsy: A case series study. Can J Neurol Sci 2014 Nov;41(6):753-8.</li>
																															<li><strong>2013:</strong> Amada N, Yamasaki Y, Williams CM, Whalley BJ (2013) Cannabidivarin (CBDV) suppresses pentylenetetrazole (PTZ)-induced increases in epilepsy-related gene expression. PeerJ 1:e214. doi:10.7717/peerj.214</li>
																															<li><strong>2012:</strong> Hill AJ, Williams CM, Whalley BJ, Stephens GJ (2012) Phytocannabinoids as novel therapeutic agents in CNS disorders. Pharmacology & therapeutics 133 (1):79-97. doi:10.1016/j.pharmthera.2011.09.002</li>
																															<li><strong>1981:</strong> Carlini EA, Cunha JM (1981) Hypnotic and antiepileptic effects of cannabidiol. J Clin Pharmacol 21 (S1):417S-427S</li>
																															<li><strong>1980:</strong> Cunha JM, Carlini EA, Pereira AE, Ramos OL, Pimentel C, Gagliardi R, Sanvito WL, Lander N, Mechoulam R (1980) Chronic administration of cannabidiol to healthy volunteers and epileptic patients. Pharmacology 21 (3):175-185. doi:10.1159/000137430</li>
																													</ul>
																									</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													14. Ist eine Kontrakindikation bei der Verwendung von CannaXan während der Therapie zu erwarten?
													<br><strong style="color: red"></strong>
													<ul>
																													
														<li>ja
															<ul>
																																	<li>relative Kontraindikation</li>
																	
																	<ul>
																																					<li>Allergien gegen Cannabinoide oder einen der genannten sonstigen Bestandteile von CannaXan</li>
																																																					</ul>
																																
																																	<li>absolute Kontraindikation
																		<ul>
																																																									<li>schwere kardiovaskuläre Erkrankung </li>
																																																									<li>Kinder und Jugendliche unter 18 Jahren </li>
																																																							<li>Schwangerschaft und Stillzeit </li>
																																				</ul>
																	</li>
																															</ul>
														</li>
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													15. Erfolgt die Therapie im Rahmen einer klinischen Prüfung?
													<br>
													<ul>
														<li>ja</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;"><strong>Ort: </strong>ort1212<br/><br/> <strong>Datum: </strong>17.08.2020</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<!-- <strong>Unterschrift</strong><br>
													<img src="https://xsdemo.com/cannaxan/assets/uploads/unterschrift-images/">
													<br/> -->
													Vorname Name des Arztes<br/>
													Jonas												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>