<div class="container-fluid">
<style type="text/css">
		p{margin-top: 0; margin-bottom: 10px;}
		ul,
		ol{ display: block; clear: both; margin-bottom: 15px; margin-top: 15px; padding-left: 20px; }
		ul li{padding-left: 28px;}
		ul li,
		ol li{ display: block; clear: both; position: relative; padding-left: 22px; }
		ul li + li,
		ol li + li{ margin-top: 6px; }

		ul>li:before{ content: "";width: 10px;height: 10px;background:#303030;position: absolute;left: 0;top: 5px;background-size: 100%; border-radius: 100%;}
		ul>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }

		ol{ list-style-type: lower-alpha; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 18px;}
		ol li{display: list-item; text-align: -webkit-match-parent;list-style: lower-alpha; padding-left: 10px;}
		ol>li li{ list-style: none; padding-left: 25px; }
		ol>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }
		.cheakbox{  position: relative; border: 2px solid #4dbfb6; height: 30px; width: 30px; display: block; border: 4px solid #e8e9ed; border-radius: 6px; background: #fff; box-shadow: -1px -1px 4px rgb(0 0 0 / 32%), inset -1px -1px 3px rgb(0 0 0 / 32%) }
		.cheakbox.cheak{  }
		.cheakbox.cheak:after {content: ""; position: absolute; top: 48%; left: 49%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,
			-50%); width: 15px; height: 15px; background: #170da1; }.table.site-table{border: 2px  solid #192351;}

		.table.site-table{border: 1px  solid #192351 ; text-align: center;}
table.table.site-table tr{background: #E8E9ED;}
table.table.site-table tr th{background: transparent; border-color: #192351;border-width: 2px;}
table.table.site-table thead tr{background: #5e6586;}
table.table.site-table thead tr tr{background: transparent!important;}
table.table.site-table tr th table tr:first-child th{border-top: none;border-left: none;border-right: none;}
table.table.site-table tr th table tr:last-child th{border-bottom: none;}
table.table.site-table tr th table tr:last-child th:first-child{border-left: none;}
table.table.site-table tr th table tr:last-child th:last-child{border-right: none;}
table.table.site-table tr td{border-color: #192351!important;border-width: 1px; border-style: solid; padding: 5px 1px; font-size: 12px;}
table.table.site-table tr td input{color: #000!important;}

.table-striped tbody tr:nth-of-type(odd) {
    background: #fff!important;
}
.tabel-event table.table tr:nth-child(even) {
    background: #e8e9ed;
}

	</style>
<table width="100%" cellpadding="0"  cellspacing="0" border="0" bgcolor="#fff" style="font-family: 'arial'; line-height: 1.5;" >
		<tr>
			<td>
				<table width="1000" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #848484; color: #848484; font-size: 20px;">Arztfragebogen zur Kostenübernahme</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td>
										<table cellpadding="5" cellspacing="0" width="100%">
											<tr>
												<td style="color: #050000;">
													Arztpraxis Mustermann: Arztpraxis <br>
													Straße: 123-A <br>
													PLZ : 123 Ort: ort1212												</td>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr style="color: #050000;">
												<td>Ärztliche Bescheinigung zur Verwendung von Cannabinoiden nach § 31 Abs. 6 SGB V</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<span>Name des Patienten: <strong>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: is_exists_patient</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'first_name' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div> 
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: is_exists_patient</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'last_name' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div></strong></span><br>
													<span>geboren am : <strong>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: is_exists_patient</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 82</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 82<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'date_of_birth' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 82</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 82<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>01.01.1970</strong></span><br>
													<span>Versichertennummer: <strong>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: is_exists_patient</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 83</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 83<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'insured_number' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 83</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 83<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div></strong></span>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													1. Erfolgt die Verordnung im Rahmen der genehmigten Versorgungnach § 37b SGB V (spezialisierte ambulante Palliativversorgung)?<br>
													<ul>
														<li>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_1_part_first</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 93</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 93<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'answer' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 93</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 93<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>nein</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													2. Welches Produkt soll dem Patienten in welcher Dosierung und Darreichungsform verordnet werden? Welche Inhaltsstoffe hat dieses Produkt?<br>
													<table width="100%" cellpadding="5" cellspacing="0">
														<tr>
															<td>
																<span>Wirkstoff: <strong>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: wirkstoff</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 106</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 106<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div></strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Handelsname: <strong>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: rezepturarzneimittel</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 111</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 111<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div></strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Darreichungsform: <strong>oromukosales Spray, flüssig</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Verordnungsmenge in 30 Tagen: <strong>: 
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: summe_cannaxan_thc</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 121</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 121<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div></strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Tagesdosis: Auftitration gemäß ärztlichem Therapieplan. Ermittlung der optimalen Tagesdosis erst nach Ende der Titrationsphase ermittelbar</span>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													3. Welche Erkrankung soll behandelt werden?
													Ist die Erkrankung schwerwiegend?
													<br>
													<ul>
														<li>
															
															
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: hauptindikation</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 143</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 143<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'indikation' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 143</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 143<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>, 
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: hauptindikation</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 143</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 143<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Trying to get property 'icd_10' of non-object</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 143</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 143<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													4. Wie lautet das Behandlungsziel?
													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_1_part_second</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 154</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 154<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>													<!-- Falls ja:
													<ul>
														<li>Endgradig chronifizierte, schwerste Schmerzen mit einem Schmerzwert von auf einer NRS Skala von 0 bis 10.</li>
														<li>Aufhebung der Schlafarchitektur</li>
														<li>Depressive Entwicklung</li>
														<li>latente Suizidalität</li>
														<li>Einschränkung der beruflichen Tätigkeit
															<ul>
																<li>keine</li>
																<li>mittel</li>
															</ul>
														</li>
														<li>Die Gesamtsymptomatik erfüllt die Bedingungen einer palliativen Begleitung im Endstadium</li>
													</ul> -->
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													5. Ist die Erkrankung schwerwiegend?
													<br>

													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_2</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 198</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 198<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>														<ul>
															<li>nein</li>
														</ul>
																										<br>
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?

													<br>

													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_3</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 262</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 262<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>												</td>
											</tr>
											<!-- <tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?
													<br>
													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_2</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 286</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 286<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>														<ul>
															<li>nein</li>
														</ul>
																										
													<br>

													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_3</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 348</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 348<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>												</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													6. Bestehen weitere Erkrankungen?
													<br>
													<table width="100%" cellspacing="0" cellpadding="5">
														<tr>
															<td width="75%">RELEVANTE BEGLEITERKRANKUNG</td>
															<td width="25">
																BESTEHEND SEIT
															</td>
														</tr>
													</table>
													<table width="100%" cellspacing="0" cellpadding="5" style="margin-top: 30px;">
														<tr>
															<td width="30px"></td>
															<td></td>
															<td>> 3</td>
															<td width="50px">> 6</td>
															<td width="50px">> 12</td>
															<td width="120px"> MONATEN</td>
														</tr>
														
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: begleiterkrankungen</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 389</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 389<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>														<!-- <tr>
															<td width="50px">
																<strong style="font-size: 24px; color: #192351;">2</strong>
															</td>
															<td>welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet</td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox cheak"></span></td>
															<td width="120px"></td>
														</tr> -->
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													7. Welche Medikation wird aktuell verwendet? (Bitte Angaben von Wirkstoff und Dosis)
													<!-- <br><strong style="color: red">[Verlaufskontrolle „Begleitmedikation“]</strong> -->
													<br>
													<table class="table site-table table-striped" width="100%" cellpadding="0" cellspacing="0" style=" border: 1px  solid #192351; border-collapse: collapse;">
										             <tr style="background: #5e6586!important;">
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nr.</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Wirksoff</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Handelsname</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stärke</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Form</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Morgens</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Mittags</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Abends</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nachts</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Tagesdosis</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Grund</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Startdatum</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stopdatum</th>
										            </tr>

										            
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: begleitmedikation</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 443</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 443<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>										         </table>
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													8. Welche weiteren Therapien werden zurzeit durchgeführt?
													<br><!-- <strong style="color: red">[Arztfragebogen 4/15]</strong> -->
													<ul>
														 
														 
																												
																																																							</ul>
													<br>
													<p>9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?</p>
													<ul>
														
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_nicht</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_steroide</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_neuroleptika</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_antidepressiva</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_sedativa</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_antikonvulsiva</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_5_WHO_1_antiemetika</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 502</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 502<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>														
													
																												
																												
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<!-- <tr>
												<td style="color: #050000;">
													9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?
													<br><strong style="color: red">[Arztfragebogen 4/15 bis 13/15]</strong>
												</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													10. Warum stehen allgemein anerkannte, dem medizinischen Standard entsprechende alternative Behandlungsoptionen nicht zur Verfügung?
													<br>
													<br>
													Die allgemein anerkannten Standards zur Behandlung der unter 3. genannten Indikation sind ausgeschöpft.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													11. Soll die bisherige Medikation parallel zur Therapie mit cannabisbasierten Medikamenten fortgeführt werden?
													<br>
													<br>
													Während der Auftitrationsphase von dem unter 2. benanntes 
													Medikament soll die bisherige Medikation beibehalten werden. 
													Nach der Auftitrationsphase soll die bisherige Medikation 
													reduziert werden.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													13. Bitte benennen Sie Literatur, aus der hervorgeht, dass 
													eine nicht ganz entfernt liegende Aussicht auf eine spürbare 
													positive Einwirkung auf den Krankheitsverlauf oder auf 
													schwerwiegende Symptome besteht.
													<br>
													<!-- <br><strong style="color: red">[siehe Excel Liste Indikation_Literatur]</strong> -->

													
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: books</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 1376</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 1376<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													14. Ist eine Kontrakindikation bei der Verwendung von CannaXan während der Therapie zu erwarten?
													<br><strong style="color: red"></strong>
													<ul>
																												
															<li>nein</li>
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													15. Erfolgt die Therapie im Rahmen einer klinischen Prüfung?
													<br>
													<ul>
														<li>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: question_7</p>
<p>Filename: arztfragebogen/arztfragebogen_pdf_page.php</p>
<p>Line Number: 1447</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/views/front/arztfragebogen/arztfragebogen_pdf_page.php<br />
			Line: 1447<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/application/controllers/Arztfragebogen.php<br />
			Line: 1353<br />
			Function: view			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /var/www/xsdemo.com/cannaxan/index.php<br />
			Line: 344<br />
			Function: require_once			</p>

		
	

</div>nein</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;"><strong>Ort: </strong>ort1212<br/><br/> <strong>Datum: </strong>17.08.2020</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<strong>Unterschrift</strong><br>
													<img src="https://xsdemo.com/cannaxan/assets/uploads/unterschrift-images/">
													<br/>
													Vorname Name des Arztes
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>