<div class="container-fluid">
<style type="text/css">
		p{margin-top: 0; margin-bottom: 10px;}
		ul,
		ol{ display: block; clear: both; margin-bottom: 15px; margin-top: 15px; padding-left: 20px; }
		ul li{padding-left: 28px;}
		ul li,
		ol li{ display: block; clear: both; position: relative; padding-left: 22px; }
		ul li + li,
		ol li + li{ margin-top: 6px; }

		ul>li:before{ content: "";width: 10px;height: 10px;background:#303030;position: absolute;left: 0;top: 5px;background-size: 100%; border-radius: 100%;}
		ul>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }

		ol{ list-style-type: lower-alpha; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 18px;}
		ol li{display: list-item; text-align: -webkit-match-parent;list-style: lower-alpha; padding-left: 10px;}
		ol>li li{ list-style: none; padding-left: 25px; }
		ol>li li:before{ content: ""; width: 6px; height: 6px; border: solid 1px #303030; background:transparent; border-radius: 8px; position: absolute; left: 0; top: 8px; }
		.cheakbox{  position: relative; border: 2px solid #4dbfb6; height: 30px; width: 30px; display: block; border: 4px solid #e8e9ed; border-radius: 6px; background: #fff; box-shadow: -1px -1px 4px rgb(0 0 0 / 32%), inset -1px -1px 3px rgb(0 0 0 / 32%) }
		.cheakbox.cheak{  }
		.cheakbox.cheak:after {content: ""; position: absolute; top: 48%; left: 49%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,
			-50%); width: 15px; height: 15px; background: #170da1; }.table.site-table{border: 2px  solid #192351;}

		.table.site-table{border: 1px  solid #192351 ; text-align: center;}
table.table.site-table tr{background: #E8E9ED;}
table.table.site-table tr th{background: transparent; border-color: #192351;border-width: 2px;}
table.table.site-table thead tr{background: #5e6586;}
table.table.site-table thead tr tr{background: transparent!important;}
table.table.site-table tr th table tr:first-child th{border-top: none;border-left: none;border-right: none;}
table.table.site-table tr th table tr:last-child th{border-bottom: none;}
table.table.site-table tr th table tr:last-child th:first-child{border-left: none;}
table.table.site-table tr th table tr:last-child th:last-child{border-right: none;}
table.table.site-table tr td{border-color: #192351!important;border-width: 1px; border-style: solid; padding: 5px 1px; font-size: 12px;}
table.table.site-table tr td input{color: #000!important;}

.table-striped tbody tr:nth-of-type(odd) {
    background: #fff!important;
}
.tabel-event table.table tr:nth-child(even) {
    background: #e8e9ed;
}

	</style>
<table width="100%" cellpadding="0"  cellspacing="0" border="0" bgcolor="#fff" style="font-family: 'arial'; line-height: 1.5;" >
		<tr>
			<td>
				<table width="1000" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #848484; color: #848484; font-size: 20px;">Arztfragebogen zur Kostenübernahme</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td>
										<table cellpadding="5" cellspacing="0" width="100%">
											<tr>
												<td style="color: #050000;">
													Arztpraxis Mustermann: Tolle Praxis <br>
													Straße: Tollä Straße <br>
													PLZ : 12345 Ort: Standort												</td>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr style="color: #050000;">
												<td>Ärztliche Bescheinigung zur Verwendung von Cannabinoiden nach § 31 Abs. 6 SGB V</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<span>Name des Patienten: <strong>Probant Patient09</strong></span><br>
													<span>geboren am : <strong>09.07.2020</strong></span><br>
													<span>Versichertennummer: <strong>A900000000</strong></span>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													1. Erfolgt die Verordnung im Rahmen der genehmigten Versorgungnach § 37b SGB V (spezialisierte ambulante Palliativversorgung)?<br>
													<ul>
														<li>nein</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													2. Welches Produkt soll dem Patienten in welcher Dosierung und Darreichungsform verordnet werden? Welche Inhaltsstoffe hat dieses Produkt?<br>
													<table width="100%" cellpadding="5" cellspacing="0">
														<tr>
															<td>
																<span>Wirkstoff: <strong>CannaXan-701-1.1</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Handelsname: <strong>CannaXan-THC</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Darreichungsform: <strong>oromukosales Spray, flüssig</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Verordnungsmenge in 30 Tagen: <strong>: 152,20</strong></span>
															</td>
														</tr>
														<tr>
															<td>
																<span>Tagesdosis: Auftitration gemäß ärztlichem Therapieplan. Ermittlung der optimalen Tagesdosis erst nach Ende der Titrationsphase ermittelbar</span>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													3. Welche Erkrankung soll behandelt werden?
													Ist die Erkrankung schwerwiegend?
													<br>
													<ul>
														<li>
															
															Soziale Angststörung, F40.1														</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													4. Wie lautet das Behandlungsziel?
																											<ul>

																															<li>
																	Verbesserung der Schmerzsituation																</li>
																
																															<li>
																	Erhalt der Arbeitsfähigkeit																</li>
																
																													</ul>
																										<!-- Falls ja:
													<ul>
														<li>Endgradig chronifizierte, schwerste Schmerzen mit einem Schmerzwert von auf einer NRS Skala von 0 bis 10.</li>
														<li>Aufhebung der Schlafarchitektur</li>
														<li>Depressive Entwicklung</li>
														<li>latente Suizidalität</li>
														<li>Einschränkung der beruflichen Tätigkeit
															<ul>
																<li>keine</li>
																<li>mittel</li>
															</ul>
														</li>
														<li>Die Gesamtsymptomatik erfüllt die Bedingungen einer palliativen Begleitung im Endstadium</li>
													</ul> -->
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													5. Ist die Erkrankung schwerwiegend?
													<br>

																											<ul>
																															<li>Endgradig chronifizierte, schwerste Schmerzen mit einem Schmerzwert von auf einer NRS Skala von 4 0 bis 10.</li>
															
																															<li>Aufhebung der Schlafarchitektur</li>
															
															
															
															
																<li>Einschränkung der beruflichen Tätigkeit:
																	<ul>
																																					<li>schwer</li>
																		
																	</ul>
																</li>	
																														
															
															
																													</ul>
																										<br>
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?

													<br>

																											<ul>
															
																															<li>eine Verminderung der Lebenserwartung</li>
															
																													</ul>
																									</td>
											</tr>
											<!-- <tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													Falls ja, welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet den Schweregrad?
													<br>
																											<ul>
																															<li>Endgradig chronifizierte, schwerste Schmerzen mit einem Schmerzwert von auf einer NRS Skala von 4 0 bis 10.</li>
															
																															<li>Aufhebung der Schlafarchitektur</li>
															
															
															
															
																<li>Einschränkung der beruflichen Tätigkeit:
																	<ul>
																																					<li>schwer</li>
																		
																	</ul>
																</li>	
																														
															
															
																													</ul>
																										
													<br>

																											<ul>
															
																															<li>eine Verminderung der Lebenserwartung</li>
															
																													</ul>
																									</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													6. Bestehen weitere Erkrankungen?
													<br>
													<table width="100%" cellspacing="0" cellpadding="5">
														<tr>
															<td width="75%">RELEVANTE BEGLEITERKRANKUNG</td>
															<td width="25">
																BESTEHEND SEIT
															</td>
														</tr>
													</table>
													<table width="100%" cellspacing="0" cellpadding="5" style="margin-top: 30px;">
														<tr>
															<td width="30px"></td>
															<td></td>
															<td>> 3</td>
															<td width="50px">> 6</td>
															<td width="50px">> 12</td>
															<td width="120px"> MONATEN</td>
														</tr>
																																													<tr>
																	<td width="50px">
																		<strong style="font-size: 24px; color: #192351;">1</strong>
																	</td>
																	<td>erete</td>
																	<td width="50px"><span class="cheakbox "></span></td>
																	<td width="50px"><span class="cheakbox "></span></td>
																	<td width="50px"><span class="cheakbox cheak"></span></td>
																	<td width="120px"></td>
																</tr>
																																											<!-- <tr>
															<td width="50px">
																<strong style="font-size: 24px; color: #192351;">2</strong>
															</td>
															<td>welcher Verlauf/Symptomatik/Beeinträchtigungen oder anderes begründet</td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox"></span></td>
															<td width="50px"><span class="cheakbox cheak"></span></td>
															<td width="120px"></td>
														</tr> -->
													</table>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													7. Welche Medikation wird aktuell verwendet? (Bitte Angaben von Wirkstoff und Dosis)
													<!-- <br><strong style="color: red">[Verlaufskontrolle „Begleitmedikation“]</strong> -->
													<br>
													<table class="table site-table table-striped" width="100%" cellpadding="0" cellspacing="0" style=" border: 1px  solid #192351; border-collapse: collapse;">
										             <tr style="background: #5e6586!important;">
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nr.</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Wirksoff</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Handelsname</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stärke</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Form</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Morgens</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Mittags</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Abends</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Nachts</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Einheit</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Tagesdosis</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Grund</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Startdatum</th>
										               <th style="color: #fff; font-size: 12px; border:1px solid #192351; padding: 7px 2px">Stopdatum</th>
										            </tr>

										            
										            											            		<tr>
												            	<td>1</td>
												            	<td>aa</td>
												            	<td>aa</td>
												            	<td>4</td>
												            	<td>ml</td>
												            	<td>Tropfen</td>
												            	<td>0</td>
												            	<td>0</td>
												            	<td>1</td>
												            	<td>1</td>
												            	<td>Tropfen</td>
												            	<td>2</td>
												            	<td>Schmerz</td>
												            	<td>05.08.2020</td>
												            	<td></td>
												            </tr>
										            											            		<tr>
												            	<td>2</td>
												            	<td>cc</td>
												            	<td>ccc</td>
												            	<td>800</td>
												            	<td>mg</td>
												            	<td>Tablette</td>
												            	<td>1</td>
												            	<td>1</td>
												            	<td>1</td>
												            	<td>0</td>
												            	<td>Stück</td>
												            	<td>3</td>
												            	<td>Depression</td>
												            	<td>11.08.2020</td>
												            	<td></td>
												            </tr>
										            											            										         </table>
												</td>
											</tr>
											<tr>
												<td style="color: #050000;">
													8. Welche weiteren Therapien werden zurzeit durchgeführt?
													<br><!-- <strong style="color: red">[Arztfragebogen 4/15]</strong> -->
													<ul>
																													
															<li>Physiotherapie</li>
														 
														 
																												
																													
															<li>TENS</li>
																																											
															<li>Akupunktur</li>
																																									</ul>
													<br>
													<p>9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?</p>
													<ul>
																													
															<li>WHO Stufe 1
																<ul>
																																
																		<li>Nicht-Opioidanalgetika
																			<ul><li><strong>Medikament:</strong>
																																																																															</li></ul>
																			<ul><li>
																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																							
																																																																												</li>
																			</ul>
																																				</li>
																																																																				
																	
																																
																		<li>Antiemetika
																			<ul><li><strong>Medikament:</strong>
																																								<ul>Freifeld																																										<li></li>
																																									</ul>
																																																													<ul>Freifeld																																													<li></li>
																																											</ul>
																						
																																																													<ul>Freifeld																																										<li></li>
																																										</ul>
																						
																																							</li></ul>
																			<ul><li>
																																							erfolglos																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																							
																																																																												</li>
																			</ul>
																																				</li>
																																		
																																	</ul>
															</li>
																												
													
																												
																													
															<li>WHO Stufe 3
																<ul>
																																
																		<li>Stark wirksame Opioide
																			<ul><li><strong>Medikament:</strong>
																																																																															</li></ul>
																			<ul><li>
																																						</li></ul>
																																							
																			<ul><li>Nebenwirkungen:
																																							
																																																																												</li>
																			</ul>
																																				</li>
															
															</li>
																															
																</ul>
															</li>
																												
																												
															<li>Spasmolytika

																<ul><li><strong>Medikament:</strong>
																																																																			</li></ul>
																<ul><li>
																																</li></ul>
																																	
																<ul><li>Nebenwirkungen:
																																	
																																																																	<ul>Neurologisch/psychotrop:
																		Paradoxe																		
																																			</ul>
																																</li>
																</ul>
																														</li>
															</li>
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<!-- <tr>
												<td style="color: #050000;">
													9. Welche bisherige Therapie ist bei der Erkrankung unter 3. mit welchem Erfolg durchgeführt worden?
													<br><strong style="color: red">[Arztfragebogen 4/15 bis 13/15]</strong>
												</td>
											</tr> -->
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													10. Warum stehen allgemein anerkannte, dem medizinischen Standard entsprechende alternative Behandlungsoptionen nicht zur Verfügung?
													<br>
													<br>
													Die allgemein anerkannten Standards zur Behandlung der unter 3. genannten Indikation sind ausgeschöpft.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													11. Soll die bisherige Medikation parallel zur Therapie mit cannabisbasierten Medikamenten fortgeführt werden?
													<br>
													<br>
													Während der Auftitrationsphase von dem unter 2. benanntes 
													Medikament soll die bisherige Medikation beibehalten werden. 
													Nach der Auftitrationsphase soll die bisherige Medikation 
													reduziert werden.
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													13. Bitte benennen Sie Literatur, aus der hervorgeht, dass 
													eine nicht ganz entfernt liegende Aussicht auf eine spürbare 
													positive Einwirkung auf den Krankheitsverlauf oder auf 
													schwerwiegende Symptome besteht.
													<br>
													<!-- <br><strong style="color: red">[siehe Excel Liste Indikation_Literatur]</strong> -->

																											<ul>
																															<li><strong>2015:</strong> Blessing EM, Steenkamp MM, Manzanares J, Marmar CR (2015) Cannabidiol as a Potential Treatment for Anxiety Disorders. Neurotherapeutics 12 (4):825-836. doi:10.1007/s13311-015-0387-1</li>
																															<li><strong>2015:</strong> Lutz B, Marsicano G, Maldonado R, Hillard CJ. The endocannabinoid system in guarding against fear, anxiety and stress. Nat Rev Neurosci 2015 Dec;16(12):705-18.</li>
																															<li><strong>2014:</strong> Devinsky O, Cilio MR, Cross H, Fernandez-Ruiz J, French J, Hill C, Katz R, Di Marzo V, Jutras-Aswad D, Notcutt WG, Martinez-Orgado J, Robson PJ, Rohrback BG, Thiele E, Whalley B, Friedman D (2014) Cannabidiol: pharmacology and potential therapeutic role in epilepsy and other neuropsychiatric disorders. Epilepsia 55 (6):791-802. doi:10.1111/epi.12631</li>
																															<li><strong>2014:</strong> Patel S, Hill MN, Hillard CJ. Effects of phytocannabinoids on anxiety, mood, and the endocrine system. In: R. G. Pertwee, editor. Handbook of cannabis. Oxford: Oxford University Press; 2014.</li>
																															<li><strong>2014:</strong> Kedzior KK, Laeber LT. A positive association between anxiety disorders and cannabis use or cannabis use disorders in the general population--a meta-analysis of 31 studies. BMC Psychiatry 2014 May 10;14:136,244X-14-136. </li>
																															<li><strong>2014:</strong> College of Family Physicians of Canada. Authorizing dried cannabis for chronic pain or anxiety: Preliminary guidance from the college of family physicians of canada. Mississauga, ON: College of Family Physicians of Canada; 2014. </li>
																															<li><strong>2012:</strong> Lev-Ran S, Le Foll B, McKenzie K, Rehm J. Cannabis use and mental health-related quality of life among individuals with anxiety disorders. J Anxiety Disord 2012 Dec;26(8):799-810. </li>
																															<li><strong>2011:</strong> Bergamaschi MM, Queiroz RH, Chagas MH, de Oliveira DC, De Martinis BS, Kapczinski F, Quevedo J, Roesler R, Schroder N, Nardi AE, Martin-Santos R, Hallak JE, Zuardi AW, Crippa JA (2011) Cannabidiol reduces the anxiety induced by simulated public speaking in treatment-naive social phobia patients. Neuropsychopharmacology 36 (6):1219-1226. doi:10.1038/npp.2011.6</li>
																															<li><strong>2011:</strong> Crippa JA, Derenusson GN, Ferrari TB, Wichert-Ana L, Duran FL, Martin-Santos R, Simoes MV, Bhattacharyya S, Fusar-Poli P, Atakan Z, Santos Filho A, Freitas-Ferrari MC, McGuire PK, Zuardi AW, Busatto GF, Hallak JE (2011) Neural basis of anxiolytic effects of cannabidiol (CBD) in generalized social anxiety disorder: a preliminary report. Journal of psychopharmacology (Oxford, England) 25 (1):121-130. doi:10.1177/0269881110379283</li>
																															<li><strong>2010:</strong> Moreira FA, Wotjak CT. Cannabinoids and anxiety. Curr.Top.Behav.Neurosci. 2010;2(1866-3370; 1866-3370):429-50. </li>
																															<li><strong>2009:</strong> Crippa JA, Zuardi AW, Martin-Santos R, Bhattacharyya S, Atakan Z, McGuire P, Fusar-Poli P. Cannabis and anxiety: A critical review of the evidence. Hum.Psychopharmacol. 2009 10;24(1099-1077; 0885-6222; 7):515-23. </li>
																															<li><strong>2005:</strong> Musty R. Cannabinoids and anxiety. In: R. Mechoulam, editor. Cannabinoids as therapeutics. Basel: Birkhaüser; 2005.</li>
																															<li><strong>1982:</strong> Zuardi AW, Shirakawa I, Finkelfarb E, Karniol IG. Action of cannabidiol on the anxiety and other effects produced by delta 9-THC in normal subjects. Psychopharmacology (Berl) 1982;76(3):245-50.</li>
																													</ul>
																									</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													14. Ist eine Kontrakindikation bei der Verwendung von CannaXan während der Therapie zu erwarten?
													<br><strong style="color: red"></strong>
													<ul>
																													
														<li>ja
															<ul>
																																
																																	<li>absolute Kontraindikation
																		<ul>
																																																									<li>schwere kardiovaskuläre Erkrankung </li>
																																																																										</ul>
																	</li>
																															</ul>
														</li>
																												

													</ul>
												</td>
											</tr>
											<tr>
												<td ></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													15. Erfolgt die Therapie im Rahmen einer klinischen Prüfung?
													<br>
													<ul>
														<li>nein</li>
													</ul>
												</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;"><strong>Ort: </strong>Standort<br/><br/> <strong>Datum: </strong>17.08.2020</td>
											</tr>
											<tr>
												<td height="25"></td>
											</tr>
											<tr>
												<td style="color: #050000;">
													<strong>Unterschrift</strong><br>
													<img src="https://xsdemo.com/cannaxan/assets/uploads/unterschrift-images/dc046edc9249926f6ef16fb98030dd9c.jpg">
													<br/>
													Vorname Name des Arztes
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>