<table width="100%" cellpadding="0"  cellspacing="0" border="0">
	<tr>
		<td>
			<table width="1000" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table cellpadding="15" cellspacing="0" width="100%">
							<tr>
								<td><h2>ÄRZTLICHER THERAPIEPLAN</h2></td>
								<td align="right">
									<img src="https://xsdemo.com/cannaxan/v2//assets/front/images/logo.png" alt="images">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td height="40">&nbsp;</td>
	</tr>
</table>
