
	<table width="100%" cellpadding="0"  cellspacing="0" border="0" bgcolor="#fff" style="font-family: 'arial'; line-height: 1.5;" >
		<tr>
			<td>
				<table width="1000" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
							<table cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #848484; color: #848484; font-size: 20px;">Arztfragebogen zur Kostenübernahme von CannaXan 701-1.1</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<!-- <td height="100">&nbsp;</td> -->
		</tr>
	</table>
