agm-map {
         height: 500px;
         width: 400px;
        }
.higherIndex {
	z-index: 9999 !important;

}
.higherIndex button{
	
	width: 200px;
}


._byy3lf {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
    color: rgb(34, 34, 34) !important;
    pointer-events: auto !important;
    position: relative !important;
    width: 274px !important;
    border-radius: 16px !important;
}

._i24ijs {
    bottom: 0px !important;
    left: 0px !important;
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
}

._1oaalno {
    background-color: rgb(113, 113, 113) !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black) !important;
    overflow: hidden !important;
}

._mcb8gr {
    contain: content !important;
    position: relative !important;
}
._e296pg {
    position: relative !important;
}
._13ky0r6y {
    contain: strict !important;
    position: relative !important;
    width: 100% !important;
    z-index: 0 !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden !important;
}

._1szwzht {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

._ttw0d {
    height: 100% !important;
    width: 100% !important;
    position: relative !important;
    overflow: hidden !important;
}

._15tommw {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 1 !important;
}

._yydl86 {
    width: 100% !important;
    height: 100% !important;
    white-space: nowrap !important;
}
._1na7kj9b {
    display: inline-block !important;
    height: 100% !important;
    width: 100% !important;
    vertical-align: middle !important;
}
._1h6n1zu {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
._9ofhsl {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
}
._15p4g025 {
    
    vertical-align: bottom !important;
    height: 100% !important;
    width: 100% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
._keknfv {
    -webkit-box-pack: center !important;
    -webkit-box-align: end !important;
    position: absolute !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    display: flex !important;
    align-items: flex-end !important;
    justify-content: center !important;
    min-height: 40px !important;
    white-space: nowrap !important;
}
._5pr6xg {
    -webkit-box-pack: center !important;
    -webkit-box-align: end !important;
    align-items: flex-end !important;
    display: flex !important;
    justify-content: center !important;
    height: 100% !important;
    contain: content !important;
}
._1q0cbcr {
    display: flex !important;
    padding-bottom: 12px !important;
    max-width: 55px !important;
    overflow: hidden !important;
}
._17x8ej3 {
    -webkit-box-pack: center !important;
    -webkit-box-align: end !important;
    align-items: flex-end !important;
    display: flex !important;
    justify-content: center !important;
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
    transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}

._18tm04d {
    height: 6px !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    min-width: 6px !important;
    opacity: 0.6 !important;
    width: 6px !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}
._amu7gpm {
    height: 6px !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    min-width: 6px !important;
    width: 6px !important;
    opacity: 1 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 50% !important;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}
._1rhkytho {
    pointer-events: none !important;
    top: 0px !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    overflow: hidden !important;
    padding: 0px !important;
}

/*.pulse {
  width: 150px;
  height: 150px;
  background: rgb(37, 39, 153);
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: in 2s;
}





@keyframes in{
    to {transform: rotate(360deg);}
}

@keyframes out{
    to {transform: rotate(0deg);}
}


*/