@media screen and (max-width: 1700px)
{
	.input-fill-box{ max-width: 548px; }
	.same-heading h2{ font-size: 28px; }
	label{ font-size: 16px; }
	.tabel-1small{ flex: 0 0 23%;max-width: 23%; }
	.tabel-2small{ flex: 0 0 77%;max-width: 77%; }
	.blue-line-section{  border:0; padding: 30px 0; margin: 0;}
	.tabel-event .table{ width: 1170px; }
	.tabel-event table.table th, .tabel-event table.table td{ padding: 8px 2px; font-size: 14px; }
	.tabel-overlap{ max-width: 100% }
	.checkbox-custom label{font-size: 16px;}
	.tabel-overlap-box tr th:first-child{max-width: 270px;}
	.tabel-overlap-box tr td:first-child{max-width: 200px;}
	.small-on-laptop{font-size: 14px;}

	.curve-table2-bx{margin: 0 -15px;}
	.curve-table-bx .table{max-width: 815px;}
	.curve-table2-bx .table{max-width: 777px;}
	.curve-table-bx:after{width: 168px;}
	.curve-table2-bx:after {width: 162px; }
	.curve-table-bx:before{border-right: 165px solid #fff;}
	.visit-plan-table:before{border-right: 145px solid #fff;}

	.curve-table-bx .table td{max-width: 51px!important; width: 51px!important; }
	.curve-table-bx table .adjust-colum td:nth-child(1) {width: 68px!important; max-width: 68px!important;}
	.curve-table-bx table .adjust-colum td:nth-child(14) {width: 97px!important; max-width: 97px!important; }

	.curve-table2-bx .adjust-colum td:nth-child(1){width: 91px; max-width: 91px; min-height: 91px;}


	.colum-10-header-table .table td {max-width: 102px!important; width: 102px!important;}
	.colum-10-header-table table .adjust-colum td:nth-child(1){width: 68px!important;max-width: 68px!important;}
	.colum-10-header-table table .adjust-colum td:nth-child(2){border-right: 2px solid #2f3862;}
	.colum-10-header-table table .adjust-colum td:nth-child(4){border-right: 2px solid #2f3862;}
	.colum-10-header-table table .adjust-colum td:nth-child(6){max-width: 52px!important;width: 52px!important;}
	.colum-10-header-table table .adjust-colum td:nth-child(7){max-width: 52px!important;width: 52px!important;border-right: none;}
	.colum-10-header-table table .adjust-colum td:nth-child(8){max-width: 52px!important;width: 52px!important;border-right: none;}
	.colum-10-header-table table .adjust-colum td:nth-child(9){max-width: 52px!important;width: 52px!important;border-right: 2px solid #2f3862;}
	.colum-10-header-table table .adjust-colum td:nth-child(10){max-width: 94px!important;width: 94px!important;}


	.visit-plan-table:after{top: 16px; width: 141px; height: calc(100% - 18px);}
	.visit-plan-table-header svg{margin-bottom: -19px;}
	.visit-plan-table table{max-width: 1049px;}
	.visit-plan-table table tr td:nth-child(1){width: 28px;min-width: 28px;max-width: 28px;}
	.visit-plan-table table tr td:nth-child(2){width: 87px;min-width: 87px;max-width: 87px;}
	.visit-plan-table table tr td:nth-child(3){width: 55px;min-width: 55px;max-width: 55px;}
	.visit-plan-table table tr td:nth-child(4){width: 29px;min-width: 29px;max-width: 29px;}
	.visit-plan-table table tr td:nth-child(5){width: 128px;min-width: 128px;max-width: 128px;}
	.visit-plan-table table tr td:nth-child(6){width: 105px;min-width: 105px;max-width: 105px;}
	.visit-plan-table table tr td:nth-child(7){width: 249px;min-width: 249px;max-width: 249px;}
	.visit-plan-table table tr td:nth-child(8){width: 44px;min-width: 44px;max-width: 44px;}
	.visit-plan-table table tr td:nth-child(9){width: 123px;min-width: 123px;max-width: 123px;}
	.visit-plan-table table tr td:nth-child(10){width: 180px;min-width: 180px;max-width: 180px;}
	.visit-plan-table table tr td:nth-child(11){width: 123px;min-width: 123px;max-width: 123px;}
	.visit-plan-table table tr td:nth-child(12){width: 180px;min-width: 180px;max-width: 180px;}

	.rotate-border{width: 162px;}
	.rotate-border:after{width: 143%; transform: rotate(-46deg);-webkit-transform: rotate(-46deg);}
	.visit-plan-table .rotate-border {width: 142px;} 
	.visit-plan-table .rotate-border:after{width: 154%;transform: rotate(-50deg);-webkit-transform: rotate(-50deg);}

	.chart-bx:after{bottom: 28px;}

	.choose-file-bx label>div{padding: 8px 7px;font-size: 14px;}
	.choose-file-bx label span{font-size: 13px;max-width: 125px;}
	.choose-file-bx{padding: .375rem 8px;}

	.text-rezept-event ul li{font-size: 11px;}

	.radio-box>label{font-size: 16px;}
	.gray-bx{margin: 0 -10px;}
	.custom-label-bx{max-width: 271px;}
	.radio-left-text p{font-size: 16px;}
	.login-btn{left: 109%;}
	button#hauptindikation {
		max-width: 919px;
	}
}


@media screen and (max-width: 1400px)
{
	.login-btn{ left: 104%!important; }
}

@media (max-width: 1024px)
{
  .inline-radio ul li{ width: 100%; display: block; margin-bottom: 35px;}
  .inline-radio ul li label{     height: 55px; display: flex; justify-content: start; align-items: center;}
  .inline-radio .radio-box>label span.radio-cheak{ top: 0;}
  .login-btn{ position: relative; margin: 10px 0; left: 0!important;}
  .radio-box>label span.radio-cheak{ box-shadow: none!important; -webkit-box-shadow: none!important;}
}