body{margin:0;padding:0;font-family: 'Aller-Regular';background:#ffffff;font-size:16px; line-height: normal; color: #444; overflow-x: hidden; overflow-y: auto;}
ul, ol, p, form, input, textarea, select, pre, em, sub, sup, canvas, section, article, aside, img, a, li, iframe, table, nav, header, footer, body, menu, button{margin:0;padding:0;vertical-align:baseline;box-sizing:border-box;-webkit-box-sizing:border-box;list-style:none;text-decoration:none;outline:none;border:0;border-spacing:0;border-collapse:collapse;}
*, after, before{box-sizing:border-box;-webkit-box-sizing:border-box;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0;}
body{ line-height: 1; }
strong{font-weight: 600;}
a {color: #00a65e; text-decoration: none;outline: 0;}
a:hover {color:#03647d; text-decoration: none;}
img{ max-width: 100%; }
button:focus{outline: none;}
/*label{ word-break: break-all; }*/
.clearfix{ clear: both; }


@font-face {
  font-family: 'Aller-Regular';
  src: url('../fonts/Aller-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Regular.woff') format('woff'), url('../fonts/Aller-Regular.ttf')  format('truetype'), url('../fonts/Aller-Regular.svg#Aller-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aller-Bold';
  src: url('../fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Bold.woff') format('woff'), url('../fonts/Aller-Bold.ttf')  format('truetype'), url('../fonts/Aller-Bold.svg#Aller-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller-Light';
  src: url('../fonts/Aller-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Light.woff') format('woff'), url('../fonts/Aller-Light.ttf')  format('truetype'), url('../fonts/Aller-Light.svg#Aller-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


.container-fluid {max-width: 1220px;}

@media (min-width: 1700px){
.container-fluid {max-width: 1440px;}
.container{max-width: 1100px;}
}


.header-box{ padding: 30px 0 15px; border-bottom: 2px solid #8C91A8;  position: relative; }
.col.logo-width{ max-width: 260px; }
.nav-box{  display: block;}
.nav-box ul{position: relative;}
.nav-box ul li{ display: inline-block; }
.nav-box ul li + li{  margin-left: 15px; }
.nav-box ul li a{ display: block; color: #8C91A8;  letter-spacing: 2px; font-family: 'Aller-Bold'; font-size: 20px;  text-transform: uppercase;  position: relative;} 
.nav-box ul li a:hover,
.nav-box ul li a.active{ color: #10069F; }

/*.nav-box>ul>li{position: relative;}*/


.nav-box>ul>li:hover .notification-box-cover{opacity: 1;visibility: visible;transform: none;-webkit-transform: none;}

.banner-section{ display: block; margin-top: 20px;   }
.banner-img{width: 100%; height: 484px; display: block;  }
.banner-img img{  width: 100%; height: 100%; object-fit: cover; }

.same-section{padding: 30px 0;}
.same-heading{display: block;}
.same-heading h2{ color: #10069F; text-transform: uppercase; font-family: 'Aller-Bold'; font-size: 32px; padding-bottom: 18px; letter-spacing: 3.2px; }
.same-heading p{ color: #5E6586;line-height: 1.7; font-size: 20px; display: block; letter-spacing: 2px; text-transform: uppercase;  font-family: 'Aller-Light'; }
.same-heading p + p{ margin-top: 17px; }
.small-heading-p p{font-size: 18px;}

.footer-nav{ display: block; }
.footer-nav ul li{ display: block; color: #8C91A8;  font-family: 'Aller-Light'; font-size: 16px;  letter-spacing: 0.32px;  }
.footer-nav ul li + li{ margin-top: 5px; }
.footer-nav ul li a{ color: #8C91A8;  font-family: 'Aller-Light'; font-size: 16px;  letter-spacing: 0.32px;  }
.footer-nav ul li a:hover{ color: #10069F;}

.footer-box{ padding: 25px 0 15px; border-top: 2px solid #8C91A8; }

.custom-btn .btn + .btn{ margin-top: 10px; }
.btn{ background: #E8E9ED;box-shadow: -3px -3px 4px #5E658699; min-width: 270px; padding: 8px 10px; border:none;  font-family: 'Aller-Bold'; border-radius: 0;}
.btn span{ display: block; width: 100%; box-shadow: 1px 1px 2px #5E658699;font-size: 20px; text-transform: uppercase; padding: 6px; letter-spacing: 2px;}
.btn-primary span{ background: #ffffff; color: #5E6586; }
.btn-primary:hover{ background: #E8E9ED; }
.btn-primary:hover span{ background:#10069F; color: #ffffff;  }
.btn-primary:focus{ background: transparent; box-shadow: -2px -2px 4px #5E658699; }
.btn-primary:focus span{ background:#10069F; color: #ffffff;  }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{ box-shadow: none;  background: transparent; box-shadow: -2px -2px 4px #5E658699;  }
.btn-primary:not(:disabled):not(.disabled).active:focus span, .btn-primary:not(:disabled):not(.disabled):active:focus span, .show>.btn-primary.dropdown-toggle:focus span{background:#10069F; color: #ffffff; }

.btn.btn-default span{background: #10069F;color: #ffffff}
.btn.btn-default:hover span{background: #ffffff;color: #5E6586;}


.btn-info span{ background: #10069F; color: #ffffff }
.btn-info:hover{ background: #10069F; }
.btn-info:hover span{ background: #ffffff; color:#10069F; }

.banner-section.anmeldung .banner-img{ height: 348px; }

.input-fill-box{display: block;  max-width: 700px; margin: 0 auto;background: #FFFFFF;box-shadow: -3px -3px 6px #19235199;border: 1px solid #8C91A8; padding: 15px;position: relative;}
.input-fill-box .foroget-password{ margin-top: 15px; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; display: block; margin-top: 20px; letter-spacing: 3px;}
.input-fill-box .foroget-password:hover{ color: #10069F; }
.input-fill-box .logo-box{ margin-bottom: 20px; }
.input-fill-box .row + .row{ margin-top: 15px; }
.input-fill-box label{ margin-bottom: 0; }
.login-btn{position: absolute;left: 108.2%;bottom: 0;}
label{ font-family: 'Aller-Light'; font-size: 18px; letter-spacing: 3px; color: #000000;text-transform: uppercase; }
label span{text-transform: initial;    letter-spacing: initial;}
.form-control{ background: #ffffff; font-size: 18px;  color: #000;border-radius: 0; border:2px solid #b1b5c4;outline: none!important; border: 4px solid #E8E9ED; font-family: 'Aller-Light'; color: #000;border-color: #E8E9ED!important; box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff !important; -webkit-box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff !important;  -moz-box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff !important;filter: none!important;-webkit-filter: none!important;}
.form-control:placeholder{ color: #9E2B5F; }
.form-control.red-input::placeholder{color: #9E2B5F!important;font-family: 'Aller-Bold';}
/*.red-select>button{color: #9E2B5F!important; font-weight: 700;} */
.text-red{font-style: inherit;color: #9E2B5F;}
.red-select.not-red>button{color: #000!important;}
input.form-control::selection {background: #10069F; color: #ffffff;}
input.form-control::-moz-selection {background: #10069F; color: #ffffff;}
.form-control[readonly]{background: #fff; }

.select-box{position: relative;width: 100%;}
.select-box span{ position: absolute; top: 50%; right: 10px; transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #000;  pointer-events: none; }
.select-box select{  -webkit-appearance: none; padding-right:25px;}
.form-group{ margin-bottom: 18px; }
.other-form-box{ margin-top: 40px; }

/*cheakbox*/
.checkbox-custom{ display: block; position: relative;margin: 50px 0;}
.checkbox-custom>input{width: 1px; height: 1px; padding: 0;margin-bottom: 0; opacity: 0; visibility: hidden; position: absolute;}
.checkbox-custom>label{position: relative; cursor: pointer; margin-bottom: 0; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; padding-left: 66px; line-height: 1.4;}
.checkbox-custom>label span.cheak{content:''; border: 2px solid #4dbfb6;  height: 50px; width: 50px; position: absolute; top: -12px; left: 0; border:8px solid #e8e9ed; border-radius: 6px;  background: #fff;    box-shadow: -1px -1px 4px rgb(0 0 0 / 32%), inset -1px -1px 3px rgb(0 0 0 / 32%);}
.checkbox-custom>label span.cheak:after{ content: "";  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 20px; height: 20px; background: #170da1; display: none; }
.checkbox-custom input:checked + label span.cheak:after{ display: block; }
.checkbox-custom input:checked + label span.cheak{ box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.5); }

.notification-box-cover{ display: block;position: absolute; width: auto; z-index: 2; top: 50px; background: #fff;opacity: 0;visibility: hidden;transition: 0.3s;-webkit-transition: 0.3s;transform: translateY(50px);-webkit-transform: translateY(50px);}
.notification-box-cover:before{content: ""; position: absolute; width: 100%; height: 30px; bottom: 100%; left: 0;background: transparent;}
.event-list-box-cover{ display:block; border:1px solid #10069f; position: relative; }
.event-list-box-cover:after{     content: "";position: absolute;width: 0; height: 30px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 29px solid #10069f; display: block; bottom: 100%;left: 18px; transition: 0.3s; -webkit-transition: 0.3s;}
.event-list-box-cover ul{ clear: both; }
.event-list-box-cover ul:after,
.event-list-box-cover ul:before{ content: ""; clear: both; display:block; }
.event-list-box-cover ul li{ display: inline-block; vertical-align: middle; float: left; }
.event-list-box-cover ul li a{ font-size: 18px; padding: 10px 14px;  background: #fff; color: #10069f; text-transform: inherit; background: #10069f; color: #fff;font-family: 'Aller-Regular';}
.event-list-box-cover ul li a:after{content: "";position: absolute;right: 0;width: 2px;height: 23px;background: #ffffff;right: 0;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.event-list-box-cover ul li:last-child a:after{display: none;}
.event-list-box-cover ul li a.active{ background: #fff; color: #10069f;}
.event-list-box-cover ul li a:hover{background: #fff; color: #10069f;}
.event-list-box-cover ul li.after-none a:after,
.event-list-box-cover ul li.after-none-hover a:after{opacity: 0;}
.event-list-box-cover ul li + li{ margin-left: 0; }

.input-messge{ color: #8C91A8; font-size: 16px; font-family: 'Aller-Light'; margin-top: 8px; }
.input-space{ margin: 30px 0 10px; }

.text-area{ margin-top: 20px; border:5px solid #8C91A8; border-top: none; }
.text-area p{ display: block; background: #8C91A8; color: #fff; font-size: 20px;  font-family: 'Aller-Bold'; padding: 5px 5px;}
textarea.form-control{ resize: none; height: 100px; }
.form-control:focus{ outline: none; }
.page-cheak-box{ max-width: 900px; margin: 0 auto }
.page-cheak-box .checkbox-custom label span.cheak{ top: 0px; }

.radio-left-text{ display: block; }
.radio-left-text p{ color: #000000; font-size: 20px; font-family: 'Aller-Light'; line-height: 1.4; }
.radio-left-text p strong{ color: #10069F; font-family: 'Aller-Bold'; }

/*checkbox*/
.radio-box{ display: block; position: relative;}
.radio-box>input{width: 1px; height: 1px; padding: 0;margin-bottom: 0; opacity: 0; visibility: hidden; position: absolute;}
.radio-box>label{position: relative; cursor: pointer; margin-bottom: 0; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; padding-left: 66px; line-height: 1.4;}
.radio-box>label span.radio-cheak{content:'';   height: 50px; width: 50px; position: absolute; top: -12px;  border-radius: 6px;  background: #e8e9ed; border-radius: 100%; box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.1);  left: 0;}
.radio-box>label span.radio-cheak:after{ content: "";  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 28px; height: 28px; background: #fff; border-radius: 100%; border:3px solid #fff;  }
.radio-box input:checked + label span.radio-cheak:after{ background: #10069f }

.radio-box>label span.radio-cheak span{ content: "";  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 28px; height: 28px; background: #fff; border-radius: 100%; border:3px solid #fff;  }
.radio-box input:checked + label span.radio-cheak span{ background: #10069f }

.radio-box.small label{ padding-left:50px; }
.radio-box.small label span.radio-cheak{ width: 30px; height: 30px; top: -1px; }
.radio-box.small label span.radio-cheak:after{ width: 15px; height: 15px; border-width: 1px; }

.radio-box.small.checkbox .radio-cheak{ border-radius: 2px; border: 4px solid #fff;box-shadow: 0 0 7px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,.2);  }
.radio-box.small.checkbox input:checked + label span.radio-cheak:before{ position: absolute; left: 0; top: 0; content: ''; color: #10069F; font-size: 20px;  text-align: center ;    content: "\f00c";font-family: "Font Awesome 5 Free";font-weight: 900; right: 0; bottom: 0;  display: flex; justify-content: center; align-items: center; }
.radio-box.small.checkbox .radio-cheak:after{ display: none; }

.inline-radio{ display: block; }
.inline-radio ul li{ display: inline-block; vertical-align:middle; width: 49% }
.radio-select-box{ margin-top: 50px; margin-bottom: 40px; }

.inline-radio.line{ max-width: 490px; margin-left: auto; margin-top: 20px; }
.inline-radio.line ul li{ display: block; width: 100%; }
.inline-radio.line ul li + li{ margin-top: 20px; }

.foroget-password-cover{ position: relative; }
#foroget_password_box{ display: block; background: #10069F; padding: 15px 22px; text-align: center; position: absolute;bottom: 100%; right: 0; width: 500px; z-index: 8; margin-bottom: -20px; }
#foroget_password_box:after{content: "";position: absolute; width: 0; height: 30px; border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 15px solid #10069f; display: block;  transition: 0.3s; -webkit-transition: 0.3s; bottom: 51px;left: -27px;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);}
#foroget_password_box h4{ display: block; color: #fff; font-size: 32px;font-family: 'Aller-Bold'; padding-bottom: 30px;}
#foroget_password_box p{color: #fff; font-size: 20px; font-family: 'Aller-Light'; line-height: 1.3; margin-bottom: 25px; display: block; }

#foroget_password_box.register-page-popup:after{bottom: 0; left: 34%; transform: rotate(-180deg);-webkit-transform: rotate(-180deg); transform-origin: bottom;-webkit-transform-origin: bottom;}

.foroget-password-input{ max-width: 320px; margin:0 auto; }
.foroget-password-input label{ color: #fff; margin-bottom: 15px;   }

.no-input{ display: block;  }
.no-input strong{ display:inline-block; vertical-align: middle; width: 49px;  font-size: 30px; color: #192351; font-family: 'Aller-Bold';}
.no-input input{  width: calc(100% - 53px);display: inline-block;vertical-align: middle;}

.cheak-ul{display: block;}
.cheak-ul ul li{ display: inline-block; vertical-align: middle; }
.cheak-ul ul li + li{ margin-left: 20px; }
.checkbox-custom.small{ height: 50px;margin: 0; }
.list-cheak .cheak-width{ max-width: 100px; }
.row-list .row.align-items-center{ margin-bottom: 20px; }

.row.list-cheak{ margin-left: 0; margin-right: 0; }
.row.list-cheak .col{ padding-left: 0; padding-right: 0; }
.plus-btn{ background: transparent; }
.btn-ro-space{margin-top: 80px;}

.tabel-overlap .table tr th{ color: #fff; font-size: 18px;font-family: 'Aller-Light';  background: #8c91a8; line-height: 1.4;  vertical-align: middle;}
.tabel-overlap .table tr td{font-size: 16px; color: #150ba0; padding: 4px;vertical-align: middle;}
.tabel-overlap .table tr{ background: #dddfe8; }
/*.tabel-overlap .table table tr th{ border-left: none; border-right: none; }*/
.tabel-overlap select{ width: 100%; display: block; background: transparent; }
.tabel-overlap .table-bordered td, .table-bordered th{ border-color: #000; }
.table-striped tbody tr:nth-of-type(odd){ background:#fff!important; }
.table-striped tbody tr:nth-of-type(odd) td input{background: #ffffff;}
.table-bordered tr:nth-of-type(odd) td.selected input{background: #d6d9e2; }
.table-striped tr td table tr:nth-of-type(odd){background-color: inherit!important;}
.table-striped tr td table tr{ background-color: inherit!important; }

td.selected.no-cell input{background: #d6d9e2; }


begleiterkrankungen-blog {padding-top: 20px; }
.begleiterkrankungen-section .form-group .col-sm-3 label, .begleiterkrankungen-section .form-group .col-sm-2 label{display: block; font-size: 28px; color: #192351;font-family: 'Aller-Bold';}
.pagination-right li a{color: #000000; font-size: 20px; font-family: 'Aller-Light'; text-transform:uppercase; padding: 6px 8px; border:none;}
.pagination-right li a:hover{background-color: transparent; color: #10069F;}
.bestehend-selectbox ul li {display: inline-block; vertical-align: middle; }
.bestehend-selectbox ul {max-width: 200px; margin-top: -15px;}
.bestehend-selectbox .checkbox-custom{margin: 25px 0px;}
.begleiterkrankungen-section .left-heading{margin-bottom: 50px;}
.bestehend-selectbox {margin-bottom: 70px; }
a.plus-icon {display: block; font-size: 35px; color: #192351;font-family: 'Aller-Bold'; text-align: right;}
.same-blog label span,
.font-style-none{ text-transform: initial;}
.font-style-none {font-style: initial;min-width: 35px;}
.same-blog label {line-height: 30px;}
.same-section .dark-gray label{color: #8C91A8;}
.same-section .dark-gray .checkbox-custom{margin: 0px;}
.text-rezept-event ul li {font-size: 12px; color: #10069F; text-transform: uppercase; font-family: 'Aller-Regular'; display: flex; display: -webkit-flex;align-items: center; padding: 10px 0px; border-bottom: 1px solid #000; line-height: 1.7;letter-spacing: 1px;}
.text-rezept-event ul li span {display: inline-block; margin-left: auto; width: 50%; text-align: right;     align-self: flex-end;}
.text-rezept-event ul li span.Summe-CannaXan-THC{width: 12%;}
.text-rezept .heading-right span{text-transform: uppercase; color: #000000; font-family: 'Aller-Light'; font-size: 18px; display: block; margin-bottom: 15px; }
.text-rezept-event .dosierung{font-size: 16px; font-family: 'Aller-Regular'; text-align: left; display: block;padding: 10px 0px; color: #192351}
.text-rezept{margin-bottom: 30px;}
.gray-bx{border: 2px solid #E8E9ED;padding: 10px;}
.btn-mar-top{margin-top: 30px;}
.page-heading h2{font-size: 32px; color: #9E2B5F; text-transform: uppercase;font-family: 'Aller-Bold';}
.page-heading h2 span {font-size: 20px; display: inline-block; line-height: 30px; }
.page-heading {padding-bottom: 50px; }
.rezepturarzneimittel-section .same-heading{margin-bottom: 30px;}
.rezepturarzneimittel-section .same-heading h2{padding-bottom: 0px;}
.blod-text span {font-size: 20px; color: #192351;font-family: 'Aller-Bold'; display: block; line-height: 30px;}
.event-blog ul li span{font-size: 20px; color: #9E2B5F; text-transform: uppercase;font-family: 'Aller-Bold';}
.event-blog ul li {font-size: 20px; line-height: 30px; font-family: 'Aller-Light'; margin-bottom: 15px;}
.event-blog .bottom-text {text-align: center; font-size: 20px;font-family: 'Aller-Light'; text-transform: uppercase; margin: 15px 0px 0; display: block; margin-top: 100px;}
.event-blog .bottom-text:after{content: "";display: table;clear: both;}
.einnah-images {max-width: 800px; margin: 50px auto; display: block; }
.table-heading p{max-width:900px; margin:30px auto; font-size: 20px;font-family: 'Aller-Light'; text-transform: uppercase; text-align: center;}
.tabel-event h2{color: #9E2B5F; font-size: 14px; text-transform: uppercase; text-align: center;font-family: 'Aller-Bold';letter-spacing: 1.5px;}
.tabel-event table.table th {color: #FFF; background:#8c91a8; font-size: 16px;font-family: 'Aller-Regular';    font-weight: normal;    border-right: 1px solid #000; }
.tabel-event table.table tbody th{color: #000; font-size: 14px;font-family: 'Aller-Light';background: transparent;}
.tabel-event table.table td{color: #000; font-size: 14px;font-family: 'Aller-Regular'; border-left: 1px solid #CCC;  }
.tabel-event table.table th, .tabel-event table.table td {padding: 8px 10px;border-color: #000;}
.tabel-event table.table .form-control {background: transparent; -webkit-appearance: none; padding-right: 25px; box-shadow: none; border: none; font-size: 14px; padding: 0; padding-right:20px;font-family: 'Aller-Regular'; }
.tabel-event table.table .select-box span{font-size: 10px;}
.tabel-event table.table th.blue-color, .tabel-event table.table td.blue-color, .tabel-event .blue-color, .tabel-event .blue-color span {color: #10069F;}
.tabel-event table.table tr:nth-child(even){background:#e8e9ed;}
.tabel-event table.table {margin-top:15px;}
.tabel-event table.table td{border-color: #000;}
.auswertung .chart-schmerz img{width: 100%;}
.auswertung .chart-schmerz .images-chart{margin-bottom: 30px;}
.schmerz-blog .chart-schmerz{margin-bottom: 30px;}
.table-box-form{}
.table-box-form>span{display: block; text-align: center; font-size: 20px; color: #3c3a3b;font-family: 'Aller-Bold'; text-transform:uppercase; margin-top: 15px;margin-bottom: 15px;}
.table-box-form>span strong{color: #000000;}
.table-box-form>span strong span{color: #10069F;}
/*.curve-table-bx{    max-width: 843px; margin-left: auto; position: relative; left: -90px;}*/
.text-rezept.padding-top {padding-top: 40px;}
.eidt-daten {font-size: 20px;font-family: 'Aller-Light'; margin:15px 0px;}
.eidt-daten a {display: inline-block; vertical-align: middle;}
.eidt-daten span{display: inline-block;vertical-align: middle;}
.dropmenu-box {background: #10069F; color: #FFF; padding: 20px; width: 700px; display: none; position: absolute; z-index: 1;    left: 50%;bottom: -170px;;z-index: 99}
.dropmenu-box::before {display: inline-block; margin-right: .255em; vertical-align: .255em; border-top: 15px solid transparent; border-right: 15px solid #10069F; border-bottom: 15px solid transparent; content: ''; position: absolute; left: -9px;bottom: 175px; }


.dropmenu-box .drop-heading{text-align: center;}
.dropmenu-box .drop-heading h2{font-size: 29px;font-family: 'Aller-Bold'; margin-bottom: 10px;}
.dropmenu-box p{font-size: 20px;font-family: 'Aller-Light'; line-height: 30px; margin-bottom: 15px;} 
.dropmenu-box h3{font-size: 20px;font-family: 'Aller-Bold'; }
.dropmenu-box .drop-heading {margin-bottom: 30px;}
.dosistyp .dropmenu {width: 26px; height: 26px; border: 4px solid #10069F; border-radius: 100px; display: inline-block; text-align: center; line-height: 20px; font-size: 16px; cursor: pointer; }
label.dosistyp {position: relative; width: 100%; }
.tabel-overlap .table tr th{ color: #fff; font-size: 18px;font-family: 'Aller-Light';  background: #8c91a8; line-height: 1.4; }
.tabel-overlap .table tr td{font-size: 16px; color: #150ba0; padding: 4px;}
.tabel-overlap .table tr{ background: #dddfe8; }
.tabel-overlap select{ width: 100%; display: block; background: transparent; }
.tabel-overlap .table-bordered td, .table-bordered th{ border-color: #000; }
.table-striped tbody tr:nth-of-type(odd){ background:#fff  }
.tabel-overlap {max-width: 1199px; margin: auto; }
/*.menu-box-width{min-width: 1050px;}*/

.notification-box-cover.menu-box-width.smaall{ min-width: 806px; }
.blue-line-section{ padding: 30px 78px; margin: 0 -78px;}

.notification-box-cover.menu-box-width.right{ left: 10px; }
/*#notification-therapie-slider-box.notification-box-cover.menu-box-width.right{ min-width: 805px; }*/
#notification-verlaufskontrolle-slider-box.notification-box-cover.menu-box-width.right{ min-width: 1108px; }
#notification-verlaufskontrolle-slider-box.notification-box-cover.menu-box-width.right .event-list-box-cover ul li:last-child a{width: 101%;}
#notification-verlaufskontrolle-slider-box.notification-box-cover.menu-box-width.right .event-list-box-cover ul li:last-child a:hover{width: 100%;}

.notification-box-cover.menu-box-width.right .event-list-box-cover:after{ left: 350px; }
/*.notification-box-cover.menu-box-width.right #notification-therapie-slider-box.event-list-box-cover:after{ left: 133px; }*/
.notification-box-cover.menu-box-width.right#notification-therapie-slider-box .event-list-box-cover:after{ left: 133px;  }

.tabel-view-box ul li{ display:inline-block; }
.tabel-view-box ul li + li{  margin-left: 25px; }
.tabel-view-box ul li{ color: #192351; font-size: 18px; font-family: 'Aller-Light'; }
.tabel-view-box ul li span{ display: inline-block; vertical-align: middle;width: 30px; height: 15px; vertical-align: middle; margin-right: 10px; }


/*10-6-2020*/
.append-table.table-responsive {overflow-x: initial; }
.table{ border:2px  solid #4271b6; }
.table tr{ background: #dddfe8; }
.table-bordered td, .table-bordered th{ border-color:#9ba0b5; padding:4px 1px; text-align: center;  position: relative; font-size: 13px; }
.table-bordered td.selected:after{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;background:#d6d9e2; content: ""; }
.table-bordered td.selected p{position: relative;z-index: 1;}
.tabel-1box tr td.no-cell{ width: 50px; }
/*.curve-table-bx .table-bordered td,
.curve-table-bx .table-bordered th{width: 60px; max-width: 60px;}*/


.tabel-1box{ padding-right: 0; position: relative; }
.tabel-1box-header{transform: skew(-20deg, 0deg) translateX(42px); -webkit-transform: skew(-20deg, 0deg) translateX(42px); }
.tabel-1box-header .row{ margin-left: 0; margin-right: 0; }
.tabel-1box-header .col{ padding-right: 0; padding-left: 0; }
.tabel-1box-header p{ position: relative; font-size: 15px; font-weight: 400; transform: rotate(-89deg) translateX(16px); -webkit-transform: rotate(-89deg) translateX(16px); letter-spacing: 1px; font-size: 13px; font-weight: 600; color: #fff; text-transform: uppercase; white-space: nowrap; font-family: 'Aller-Light';}
.tabel-1box-header p.select:after{ content: ""; position: absolute; top: 0; bottom: 0; width: 50px; background:  }
.tabel-1box-header .col .text-box{height: 230px;display: flex;justify-content: center;align-items: flex-end;}
.tabel-1box-header .col.tag p{ color: #717693; }
.tabel-1box-header .col.tag{ max-width: 60px;background: #fff; }
.tabel-1box-header .col.morgens{ max-width: 120px; }
.tabel-1box-header .col.morgens .col{ max-width: 60px; }
.tabel-1box-header .col.Tmc{ max-width: 300px; }
.tabel-1box-header .col.Tmc .col{ max-width: 60px; }

.curve-table-bx{position: relative;}
.curve-table-bx .table{max-width: 867px;border: 2px solid #495276;border-top: none;}
.curve-table2-bx .table{max-width: 870px;border-top: none;}
@media screen and (min-width: 1700px)
{
  .long-table.curve-table2-bx .table{max-width: 870px;}
}
.curve-table-bx:after {content: ""; position: absolute; right: 0; top: 0; width: 180px; height: 100%; border: 2px solid #616888; border-left:none;  background: -moz-linear-gradient(270deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41,51,93,1)), color-stop(100%, rgba(247,248,249,1)));
    background: -webkit-linear-gradient(270deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
    background: -o-linear-gradient(270deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
    background: -ms-linear-gradient(270deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
    background: linear-gradient(180deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29335d', endColorstr='#f7f8f9',GradientType=0 );
}
.curve-table-bx:before {content: ""; width: 0; height: 0; border-top: 170px solid transparent; border-right: 182px solid #fff; border-bottom: 0 solid transparent; position: absolute; right: -2px; bottom: 0; z-index: 1; }
.table-right-part {position: absolute; right: 20px; top: 170px; z-index: 2; text-align: right; transform: rotate(-45deg);-webkit-transform: rotate(-45deg); }
.table-right-part p {color: #fff; margin-bottom: 10px; font-family: 'Aller-Light'; }
.curve-table-header{position: relative;z-index: 1;}
.curve-table-header img {display: block; margin-bottom: -4px; }
.curve-table-bx .table td {max-width: 58px!important; width: 58px!important; vertical-align: middle;}
.curve-table-bx table .adjust-colum td:nth-child(1){width: 80px!important;max-width: 80px!important;border-right: 2px solid #2f3862;}
.curve-table-bx table .adjust-colum td:nth-child(3){border-right: 2px solid #2f3862;color: #10069F;font-weight: bold;}
.curve-table-bx table .adjust-colum td:nth-child(5){border-right: 2px solid #2f3862;color: #10069F;font-weight: bold;}
.curve-table-bx table .adjust-colum td:nth-child(7){border-right: 2px solid #2f3862;color: #10069F;font-weight: bold;}
.curve-table-bx table .adjust-colum td:nth-child(9){border-right: 2px solid #2f3862;color: #10069F;font-weight: bold;}
.curve-table-bx table .adjust-colum td:nth-child(13){border-right: 2px solid #2f3862;}
.curve-table-bx table .adjust-colum td:nth-child(14){width: 112px!important;max-width: 112px!important;}

.colum-10-header-table .curve-table-header img{margin-bottom: -1px;}
.colum-10-header-table .table td {max-width: 120px!important; width: 120px!important;}
.colum-10-header-table table .adjust-colum td:nth-child(1){width: 81px!important;max-width: 81px!important;}
.colum-10-header-table table .adjust-colum td:nth-child(2){border-right: 2px solid #2f3862;}
.colum-10-header-table table .adjust-colum td:nth-child(4){border-right: 2px solid #2f3862;}
.colum-10-header-table table .adjust-colum td:nth-child(6){max-width: 58px!important;width: 58px!important;}
.colum-10-header-table table .adjust-colum td:nth-child(7){max-width: 58px!important;width: 58px!important;border-right: none;}
.colum-10-header-table table .adjust-colum td:nth-child(8){max-width: 58px!important;width: 58px!important;border-right: none;}
.colum-10-header-table table .adjust-colum td:nth-child(9){max-width: 58px!important;width: 58px!important;border-right: 2px solid #2f3862;}
.colum-10-header-table table .adjust-colum td:nth-child(10){max-width: 114px!important;width: 114px!important;}


/*.visit-plan-table table.table{position: relative;}
.curve-table-bx table.table{position: relative;}
.visit-plan-table table.table:after,
.curve-table-bx table.table:after{content: ""; width: 236px; height: 2px; background: #616888; position: absolute; left: 100%; bottom: 0; z-index: 1; transform: rotate(-45deg);-webkit-transform: rotate(-45deg); transform-origin: left; -webkit-transform-origin: left;}
.curve-table-bx table.table:after{width: 244px;bottom: 0;transform: rotate(-43deg);-webkit-transform: rotate(-43deg);}*/

.rotate-border{position: absolute; right: 0; top: 0; width: 180px; height: 100%;pointer-events: none;}
.rotate-border:after{content: ""; width: 136%; height: 2px; background: #616888; position: absolute; left: 0; bottom: 0; z-index: 1; transform: rotate(-43deg);-webkit-transform: rotate(-43deg); transform-origin: left; -webkit-transform-origin: left;}
.visit-plan-table .rotate-border{width: 168px;}
.visit-plan-table .rotate-border:after{width: 140%;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}

.visit-plan-table{position: relative;}
.visit-plan-table:after {content: ""; position: absolute; right: 0; top: 0; width: 168px; height: 100%; border: 2px solid #192351; border-left:none;  background: -moz-linear-gradient(270deg, rgba(41,51,93,1) 0%, rgba(247,248,249,1) 100%);
background: -moz-linear-gradient(270deg, rgba(34,43,88,1) 0%, rgba(252,253,253,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(34,43,88,1)), color-stop(100%, rgba(252,253,253,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(34,43,88,1) 0%, rgba(252,253,253,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(34,43,88,1) 0%, rgba(252,253,253,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(34,43,88,1) 0%, rgba(252,253,253,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(34,43,88,1) 0%, rgba(252,253,253,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222b58', endColorstr='#fcfdfd',GradientType=0 ); /* ie6-9 */
}
.visit-plan-table .rotate-border:after{background: #192351;}
.visit-plan-table:before {content: ""; width: 0; height: 0; border-top: 170px solid transparent; border-right: 172px solid #fff; border-bottom: 0 solid transparent; position: absolute; right: -2px; bottom: 0; z-index: 1; }
.visit-plan-table-header{position: relative;z-index: 1;}
.visit-plan-table-header svg{width: 100%;margin-bottom: -5px;}
.visit-plan-table-header svg tspan {font-family: 'Aller-Regular';}
.visit-plan-table-header svg #Pencil-2,
.visit-plan-table-header svg #Pencil,
.visit-plan-table-header svg #Pencil-3{pointer-events: none;}
.visit-plan-table table tr td input{width: 100%;border: none;}
.visit-plan-table table.table{border: 2px solid #192351;border-top: none;}
.visit-plan-table table{max-width: 1242px;}
.visit-plan-table table td{vertical-align: middle;}
.visit-plan-table table tr td:nth-child(1){width: 34px;min-width: 34px;max-width: 34px;}
.visit-plan-table table tr td:nth-child(2){width: 104px;min-width: 104px;max-width: 104px;}
.visit-plan-table table tr td:nth-child(3){width: 67px;min-width: 67px;max-width: 67px;}
.visit-plan-table table tr td:nth-child(4){width: 36px;min-width: 34px;max-width: 36px;}
.visit-plan-table table tr td:nth-child(5){width: 151px;min-width: 151px;max-width: 151px;}
.visit-plan-table table tr td:nth-child(6){width: 124px;min-width: 124px;max-width: 124px;}
.visit-plan-table table tr td:nth-child(7){width: 299px;min-width: 299px;max-width: 299px;}
.visit-plan-table table tr td:nth-child(8){width: 56px;min-width: 56px;max-width: 56px;}
.visit-plan-table table tr td:nth-child(9){width: 147px;min-width: 147px;max-width: 147px;}
.visit-plan-table table tr td:nth-child(10){width: 215px;min-width: 215px;max-width: 215px;}
.visit-plan-table table tr td:nth-child(11){width: 147px;min-width: 147px;max-width: 147px;}
.visit-plan-table table tr td:nth-child(12){width: 215px;min-width: 215px;max-width: 215px;    text-align: left;padding-left: 10px;}

.visit-plan-table table tr td:nth-child(9) td{text-align: left;padding-left: 10px;}

.visit-plan-table .table tr td input[readonly]{color: #9E2B5F!important;}

.cursor-pointer{font-size: 20px!important;font-weight: bold;color: #9E2B5F;cursor: pointer;}
 
.umstelung-content-section .table-bordered th {height: 78px; vertical-align: bottom;text-align: left;padding: 10px;font-size: 14px;line-height: 1.4;}
.umstelung-content-section .table-bordered tr th.border-left-none{padding-left: 26px;}
.umstelung-content-section .table-bordered td{padding: 14px 6px;line-height: 1.4;vertical-align: middle;}
/*.umstelung-content-section .table-bordered tr td:nth-child(2){text-align: left;}*/
.umstelung-content-section .table-bordered tr td:last-child{text-align: left;}
.umstelung-content-section .table tr td .text-field{padding: 0;}
.umstelung-content-section .tabel-3box tr td.nocell{padding: 0;}
.umstelung-content-section .tabel-3box tr td.nocell input{padding: 0;}


.table-3-header {margin-top: -140px; margin-bottom: -7px; }
.umstelung-content-section table{border: 2px solid #192351;}
.umstelung-content-section .table-bordered td, 
.umstelung-content-section .table-bordered th{border-color: #192351;border-width: 2px;}
.umstelung-content-section .table-bordered th{background: transparent;}
.umstelung-content-section .table tbody tr:first-child{background: #5d6485;}
.umstelung-content-section table tr td.table-header-td{width: 365px; min-width: 365px; max-width: 365px;padding: 0;}
.umstelung-content-section table tr td.table-header-td table{border: none;}
.umstelung-content-section table tr td.td1{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td2{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td3{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td4{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td5{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td6{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td7{width: 19px; min-width: 19px; max-width: 19px;}
.umstelung-content-section table tr td.td8{width: 19px; min-width: 19px; max-width: 19px;}

.big-cell{ width: 60px; }
.sub-box{ position: relative; }
.sub-box .sub-heading{ position:absolute; top: -2px;left: 0; right: 0; padding:10px;color: #fff; font-size: 12px; z-index: 1; background: #8c91a8;height: inherit;text-transform: uppercase; font-weight: 600; text-align: center;font-family: 'Aller-Light';border-top:2px solid #192351;}
.tabel-1box-header .col.morgens .anz p{ transform: rotate(-89deg) translateX(89px); -webkit-transform: rotate(-89deg) translateX(89px); }
.tabel-1box-header .col.morgens .sps p{ transform: rotate(-89deg) translateX(52px); -webkit-transform: rotate(-89deg) translateX(52px); }
.tabel-1box-header .col.morgens .sps{ border-left: 1px solid #fff;  }
.text-box.sps p,
.morgens_anzahl_sps .text-field,
.mittags_anzahl_sps .text-field,
.abends_anzahl_sps .text-field,
.nachts_anzahl_sps .text-field{color: #10069F!important;font-weight: bold!important;}
span.border-dark{ border-left:2px solid #192351; position: absolute; width: 1px; height: 101%; top: -2px; left: -2px; bottom: 0; z-index: 2 }
.tabel-1box-header .col.Tmc .col p{ transform: rotate(-89deg) translateX(40px); -webkit-transform: rotate(-89deg) translateX(40px); }
.tabel-1box-header .col.Tmc .Tmc-text{ border-left: 1px solid #fff; }
.tabel-1box-header .col.Tmc .Tmc-text p{  transform: rotate(-89deg) translateX(35px); -webkit-transform: rotate(-89deg) translateX(35px);}


.sub-box.color p.colorp{ background:#c8cad5; padding:23px  12px; display: inline-block; }
.tabel-1box-header .col.morgens.color .anz p.colorp{transform: rotate(-90deg) translateX(67px);-webkit-transform: rotate(-90deg) translateX(67px);}
.tabel-1box-header .col.morgens.color .sps p.colorp{transform: rotate(-89deg) translateX(31px);-webkit-transform: rotate(-89deg) translateX(31px);}

.Tmc.color p.colorp{ background:#c8cad5; padding:20px  6px; display: inline-block; }
.tabel-1box-header .col.Tmc .Tmc-text p.colorp{  transform: rotate(-89deg) translateX(12px); -webkit-transform: rotate(-89deg) translateX(12px);}




.tabel-2box tr td.no-cell{ width: 30px; }
.tabel-2box{ text-align: center;width: 1040px; margin: 0 auto; }
.tabel-2box tr td{ vertical-align: middle; }
.tabel-2box tr td.address1{ max-width: 100px; min-width: 100px; }
.tabel-2box tr td.button{ width: 80px; }
.sub-tabel{ padding-left: 0!important;padding-right: 0!important; width: 190px; }
.sub-tabel.small{width: 80px;vertical-align: top;}
.sub-tabel table tr td{ border-top: none; border-left: none; border-right: none; }
.sub-tabel table tr { background: #fff!important; }
.sub-tabel table tr:last-child td{ border-bottom: none; }

.tabel-2box .tabel-1box-header{
background: -moz-linear-gradient(270deg, rgba(25,35,81,0.45) 0%, rgba(255,255,255,0.84) 71%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25,35,81,0.45)), color-stop(71%, rgba(255,255,255,0.84)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(25,35,81,0.45) 0%, rgba(255,255,255,0.84) 71%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(25,35,81,0.45) 0%, rgba(255,255,255,0.84) 71%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(25,35,81,0.45) 0%, rgba(255,255,255,0.84) 71%, rgba(255,255,255,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(25,35,81,0.45) 0%, rgba(255,255,255,0.84) 71%, rgba(255,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192351', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */

}

.tabel-2box .tabel-1box-header .same-width{ max-width: 30px; }
.tabel-2box .tabel-1box-header .same-width.button-width{ max-width: 80px; }
.tabel-2box .tabel-1box-header .same-width.address1-width{ max-width: 106px; }
.tabel-2box .tabel-1box-header .same-width.subtabel-width{ max-width: 190px; }
.tabel-2box .tabel-1box-header .same-width.subtabel-width.small{ max-width: 80px; }

.tabel-2box .tabel-1box-header .same-width p{ color: #4271b6; transform: rotate(-89deg) translateX(74px); -webkit-transform: rotate(-89deg) translateX(74px); }
.tabel-2box .tabel-1box-header .same-width .Soll p{ transform: rotate(-89deg) translateX(103px); -webkit-transform: rotate(-89deg) translateX(103px); }
.tabel-2box .tabel-1box-header .same-width .Behandlungstag p{ transform: rotate(-89deg) translateX(111px); -webkit-transform: rotate(-89deg) translateX(111px); }
.tabel-2box .tabel-1box-header .same-width .st1 p{ transform: rotate(-89deg) translateX(88px); -webkit-transform: rotate(-89deg) translateX(88px); }
.tabel-2box .tabel-1box-header .same-width .NRS p{ transform: rotate(-89deg) translateX(54px); -webkit-transform: rotate(-89deg) translateX(54px); }
.tabel-2box .tabel-1box-header .same-width .SF p{ transform: rotate(-89deg) translateX(99px); -webkit-transform: rotate(-89deg) translateX(99px); }



.border-left{ border-left-color:#888!important; }
.tabel-2box .tabel-1box-header .edit-btn p{ transform: rotate(-89deg) translateX(80px) translateY(-49px); -webkit-transform: rotate(-89deg) translateX(80px) translateY(-49px) }
.tabel-2box .tabel-1box-header .address1-width.edit-btn p{ transform: rotate(-89deg) translateX(84px) translateY(-8px); -webkit-transform: rotate(-89deg) translateX(84px) translateY(-8px) }
.tabel-2box .tabel-1box-header .address1-width.edit-btn .eidt-daten{transform: translateX(-59px); -webkit-transform: translateX(-59px);}

.eidt-daten.space{margin-right: 20px;}
.tabel-3box{ padding-top: 200px; }
.tabel-3box tr th{ background:#5d6485; color: #fff ; font-size: 13px; font-weight: 400;}
.tabel-3box tr td.nocell{width: 40px;max-width: 40px;}
.tabel-3box tr td.nocell input{background: transparent!important;padding: 5px;}
.tabel-3box tr { background: #fff; }
p.text-field {
    padding: 5px;
}
.tabel-3box .tabel-1box-header{     position: absolute;bottom:0; left: 0; right: 0; z-index: 1;}
.tabel-3box .action-td{ border-left:none!important; border-right: none!important; }
.border-right-none{ border-right: none!important; }
.tabel-3box .border-left-none{border-left: none!important; padding-left: 18px; }
.tabel-3box .tabel-1box-header{ border-color: transparent!important; }
.tabel-3box .tabel-1box-header .col.morgens .col{ max-width: 39px; }
.tabel-3box .tabel-1box-header .col.morgens{ max-width: 80px; background: #8c91a8; }
.tabel-3box .sub-box.color p.colorp{ padding:10px  8px;     color: #444a65; font-family: 'Aller-Light';}
.tabel-1box-header .row .col.morgens:last-child{border-right: 2px solid #192351;}

/*==*/
.free-space-on-left{padding-left: 165px;}
.extra-button-line{ display: block; margin-top: 10px; }
.extra-button-line p{ letter-spacing: 0.32px;color: #8C91A8; font-size: 16px; font-family: 'Aller-Light'; }
.custom-btn-full-btn .btn{ width: 100%; }

.dropdown .dropdown-select{  background: #ffffff; font-size: 18px;  font-family: 'Aller-Light'; color: #000;border-radius: 0; border:2px solid #5E658699;outline: none!important;box-shadow: 1px 1px 2px #5E658699 , -2px -2px 4px #5E658699;     border: 4px solid #E8E9ED; height: 47px;width: 100%;  text-align: left; padding: 0 10px;}
.dropdown .dropdown-menu{ right: 0; box-shadow: -2px -2px 4px #5E658699; max-height: 400px;overflow: auto;}
.dropdown .dropdown-menu li{ font-size: 18px;  font-family: 'Aller-Light'; color: #000; padding: 8px;  letter-spacing: 0.4px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;}
.dropdown.select-box .dropdown-select{ padding-right: 25px; position: relative;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.dropdown.select-box .dropdown-select span{display: none;}
.dropdown.select-box .dropdown-select:after{content: "";position: absolute;right: 8px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);width: 17px;height: 11px;background: url(../images/down-icon.svg) no-repeat; background-size: cover;}
.dropdown .dropdown-menu li:hover{ background-color:#10069F; color: #fff; }
button#hauptindikation{max-width: 1090px;}


#chart-container{ display: block; max-width: 800px;  margin: 0 auto; }
.images-chart{ display: block; height: 500px; }
.images-chart div{ height: 100%; width: 100%; }

.table tr td input{ display: inline-block; width: 40px;background: #dddfe8; color: #9E2B5F!important;text-align: center;font-family: 'Aller-Light';    font-size: 15px;}
.table tr td input[readonly]{color: #3c3a3b!important;}
.table tr td input,
.table tr td input{font-family: 'Aller-Bold';}
.table tr td .text-field{ margin-top: 0; font-size: 14px;  font-family: 'Aller-Light'; text-transform: inherit; position: relative;z-index: 1;}

.normal-tabel .tabel-3box{ padding-top: 0!important; padding-right: 0!important }
.normal-tabel tr th{ line-height: 1.4; }

.subtabel-width.edit-btn.left .eidt-daten{ margin-left: -20px;   }
.address1-width.Begleitmedikation .eidt-daten{ transform: translateX(-63px)!important; -webkit-transform: translateX(-63px)!important; }

.tabel-event table.table input[type="text"]{ display: block; width: 100%; padding-right: 0; }
.tabel-overlap-box tr td:first-child{ max-width: 180px; }
.tabel-overlap-box tr th:first-child{ max-width: 180px; }
.tabel-overlap-box .intable th{  max-width:140px; min-width: 140px; }

.custom{ margin-left: -7px; margin-right: -7px; }
.custom-row div[class*="col"]{ padding-right: 7px; padding-left: 7px; }
.tabel-1box-header{  margin-top: 20px; }
.bold-form-control::placeholder{ font-weight: 800; font-family: Arial, Helvetica, sans-serif; }
.table tr td input{ position: relative;  z-index: 8; }

.datepicker table{ width: 100%!important }
.datepicker.dropdown-menu{ font-size: 14px!important ; min-width: 12rem; }
.datepicker td, .datepicker th{width: 25px!important; height: 25px!important;}
.toast-error{background-color:  #9e2b5f!important;}
.toast-success{background-color: #10069f!important;}
.toast-top-center {top: 50%; margin: 0 auto; left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.toast-message p{font-family: 'Aller-Light';}
.toast-message p + p{margin-top: 6px;}

.foroget-password-cover.nein-cover #foroget_password_box{bottom: -20px;right: auto;left: 120%;}
#foroget_password_box.register-page-popup.long-content-popup{padding: 0;padding-bottom: 10px;}
.register-page-popup .scroller{max-height: 500px;overflow-y: auto;padding: 15px 22px;}
.link-span{display: block;word-break: break-all;}

.upword{margin-top: -24px;}
.min-height {min-height: 450px; }
.min-height-high{min-height: 680px; }
.Wochen-table.tabel-overlap .table table tr th{padding: 10px 20px;}
.Wochen-table.tabel-overlap .table tr td{text-align: left;color: #192351;}
.Wochen-table.tabel-overlap .table tr td:first-child{color: #192351;}

.close-button-popup{position: relative;}
.popup-closer{position: absolute;right: -10px;top: -10px;width: 30px;height: 30px;background: #ffffff;text-align: center;line-height: 31px;border-radius: 50%;box-shadow: 1px 1px 10px rgb(0 0 0 / 38%);cursor: pointer;transition: 0.3s;-webkit-transition: 0.3s;color: #000;}
.popup-closer:hover{background: #000;color: #ffffff;}

.date-not-select{pointer-events: none;}

.datepicker table tr td.today{background: #aea9f5!important;}
.datepicker table tr td.today:hover{background: #10069f!important;color: #ffffff!important;}
.datepicker table tr td.active.active{background: #10069f!important;}

.align-items-center-custom{display: flex;align-items: center;}

.chart-bx{ padding: 20px; margin-bottom: 30px;position: relative;background: url(../images/graph-gradiant-bg.svg) no-repeat;background-size: cover;    box-shadow: -2px -2px 5px rgb(0 0 0 / 34%);}
.chart-bxx{ padding: 20px; margin-bottom: 30px;position: relative;background: url(../images/graph-gradiant-bg.svg) no-repeat;background-size: cover;    box-shadow: -2px -2px 5px rgb(0 0 0 / 34%);}

.chart-bx:after{content: "MONAT";position: absolute;bottom: 10px; right: 69px; font-size: 12px; text-transform: uppercase;}
.chart-bxx:after{content: "WOCHE";position: absolute;bottom: 10px; right: 69px; font-size: 12px; text-transform: uppercase;}
.chart-schmerz-new-text.chart-bxx:after{content: "Tage";}
.visit-txt:after{content: "Visite";}
.text-center>.chart-bx{display: inline-block;}
.text-center>.chart-bxx{display: inline-block;}
.text-center.graph-bg{display: block;width: 100%;max-width: 850px;margin: 0 auto;overflow: hidden;}
.text-center.graph-bg:before{content: ""; position: absolute; left: 0; bottom: 58px; background: url(../images/graph-bg.svg) no-repeat 13px 0; width: 96%; height: 309px; background-size: cover;}
.highcharts-credits{display: none;}
.table-row-length .form-control{box-shadow: none!important;}
.highcharts-background{fill: none}
.graph-bg .highcharts-yaxis-labels text{color: #000000!important;fill: #000000!important;}
.graph-bg .highcharts-yaxis{color: #000000!important;fill: #000000!important;}

.choose-file-bx{position: relative;box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff; -webkit-box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff; -moz-box-shadow: 1px 1px 2px #b4b8c7, -2px -2px 4px #b4b8c7, inset 0 0 0 40px #ffffff;border: 4px solid #E8E9ED;padding: .375rem .75rem;}
.choose-file-bx label{letter-spacing: initial;text-transform: initial;margin-bottom: 0;cursor: pointer;}
.choose-file-bx label span {text-transform: initial; max-width: 123px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.choose-file-bx input{width: 0;height: 0;opacity: 0;visibility: hidden;position: absolute;}
.choose-file-bx label>div{display: inline-block;vertical-align: middle;background: #E8E9ED;padding: 8px 15px;color: #000;border-radius: 2px;}
.choose-file-bx label:hover div{opacity: 0.8;}

.table .dropdown .dropdown-select{background: transparent;font-size: 15px;height: auto;border: none;box-shadow: none;min-height: 17px;}
.table .dropdown.select-box .dropdown-select:after{width: 10px;height: 6px;}
.table .dropdown .dropdown-menu li{font-size: 14px;}
/*.tabel-event table.table select {width: 110px; }*/

.table.site-table{border: 2px  solid #192351;}
table.table.site-table tr{background: #E8E9ED;}
table.table.site-table tr th{background: transparent; border-color: #192351;border-width: 2px;font-family: 'Aller-Light';    font-weight: normal;}
table.table.site-table thead tr{background: #5e6586;}
table.table.site-table thead tr tr{background: transparent!important;}
table.table.site-table tr th.intable{border-left: none;border-right: none;}
table.table.site-table tr th table tr:first-child th{border-top: none;border-left: none;border-right: none;}
table.table.site-table tr th table tr:last-child th{border-bottom: none;}
table.table.site-table tr th table tr:last-child th:first-child{border-left: none;}
table.table.site-table tr th table tr:last-child th:last-child{border-right: none;}
table.table.site-table tr td{border-color: #192351!important;border-width: 2px;}
table.table.site-table tr td input{color: #000!important;}
/*table.table.site-table tbody tr th{border-color: #8c91a8!important;}*/


.normal-radio{min-height: 40px;}
.checkbox-custom.normal-radio {margin: 0;}
.normal-radio + .normal-radio{margin-top: 21px!important;}
.normal-radio label{text-transform: initial;}
.checkbox-custom.normal-radio label span.cheak{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.normal-radio label span.radio-cheak{top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.simple-txt{font-family: 'Aller-Light';}
.normal-radio label .form-control{display: inline-block;width: auto;max-width: 100px;text-align: center;}
.normal-radio .inline-radio{margin-top: 32px;padding-left: 58px;}
.normal-radio .inline-radio ul li{width: auto;}
.normal-radio .inline-radio ul li + li{margin-left: 15px;}
.inline-radio ul li .checkbox-custom.normal-radio{margin: 12px 0;}
/*.normal-radio.radio-box .radio-box>label{font-size: 16px;padding-left: 53px;}
.normal-radio.radio-box .radio-box>label span.radio-cheak:after{width: 22px;height: 22px;}
.normal-radio.radio-box .radio-box>label span.radio-cheak{height: 40px;width: 40px;}
.normal-radio.radio-box .checkbox-custom>label{font-size: 16px;padding-left: 53px;}
.normal-radio.radio-box .checkbox-custom>label span.cheak{height: 35px;width: 35px;border: 6px solid #e8e9ed;}
.normal-radio.radio-box .checkbox-custom>label span.cheak:after{width: 15px;height: 15px;}*/

.checkbox-custom.normal-radio>label{padding-left: 53px;}
.checkbox-custom.normal-radio>label span.cheak{height: 35px;width: 35px;border: 4px solid #e8e9ed;}
.checkbox-custom.normal-radio>label span.cheak:after{width: 15px;height: 15px;}

.radio-box.normal-radio>label{padding-left: 53px;}
.radio-box.normal-radio>label span.radio-cheak{height: 35px;width: 35px;}
.radio-box.normal-radio>label span.radio-cheak:after{width: 18px;height: 18px;}


.Zunehmende-txtarea{margin-top: 20px;margin-bottom: 40px;}

.normal-radio-inner{padding: 30px 0 30px 66px;}
.nrml-txt{color: #000000; font-family: 'Aller-Light'; font-size: 17px;line-height: 1.4;margin: 15px 0;letter-spacing: 3px;}
.btn-group-custom .btn + .btn {
    margin-left: 10px;
}
.btn-group-custom.text-right {
    margin-top: 40px;
}

.btn-group-custom.text-right .btn:first-child{float: left;}
.btn-group-custom.text-right .btn.float-none{float: none;}
.btn-group-custom.text-right:after, .btn-group-custom.text-right:before {
    content: "";
    display: table;
    clear: both;
}

.erkrankung-popup{position: relative;}
.erkrankung-popup .dropmenu-box{left: 170px;right: auto;top: 50%;bottom: auto;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.erkrankung-popup .dropmenu-box::before{bottom: auto;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);border-top: 20px solid transparent;border-right: 20px solid #10069F;border-bottom: 20px solid transparent;left: -19px;}
.erkrankung-popup .dropmenu-box .drop-heading{margin-bottom: 0;}
.underline{text-decoration: underline!important;color: inherit;}
a.underline:hover{color: #9E2B5F!important;}
.checkbox-custom.normal-radio.mt-4 {margin-top: 38px!important;}

.same-font-size {font-size: 1.25rem; letter-spacing: 0;color: #444!important}
.tooltip-inner{background-color: #192351; }
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before{border-bottom-color: #192351;}

/*.dropdown.select-box .dropdown-menu li{position: relative;overflow: initial;}
.dropdown.select-box .dropdown-menu li:hover:after {content: attr(title); position: absolute; top: 107%; left: 20px; font-size: 13px; background: #E8E9ED; border: 1px solid #ddd; padding: 4px 10px; z-index: 999; color: #333333!important;}*/

.row.einheit-first-row {
    margin: 0;
}
/*.gray-input{ color: #CCC; }*/
.gray-input::placeholder{ color: #a9a3a3 }
/*.dropdown-select-bold{ font-family: 'Aller-Bold'!important; }*/
.text-rezept-event ul li span.Anzahl-20mL-Flaschen{ width: 20% }
.text-rezept-event ul li span.CannaXan-THC-nach-30-Tagen.low{ width: 20% }
.text-rezept-event ul li span.total_summe_thc{ width: 30%; }

.low-span-width ul li span {
    width: 40%;
}
.NEBENWIRKUNG-table tr td:first-child{text-align: left;color: #192351;}

.switch {display: inline-block; height: 24px; position: relative; width: 50px; margin-bottom: 0;}

.switch input {display:none!important; }

.slider {background-color: #ccc; bottom: 0; cursor: pointer; left: 0; position: absolute; right: 0; top: 0; transition: .4s; }

.slider:before {background-color: #fff; bottom: 4px; content: ""; height: 16px; left: 4px; position: absolute; transition: .4s; width: 16px; }

.switch input:checked + .slider {background-color: #10069f; }

.switch input:checked + .slider:before {transform: translateX(26px); }

.slider.round {border-radius: 34px; }

.slider.round:before {border-radius: 50%; }

.red-bold{color: #9E2B5F!important;font-family: 'Aller-Bold';font-style: initial;}

.custom-label-bx{max-width: 320px;}
.toast-message{line-height: 1.5;}
.tabel-event td{text-align: center;}

.not-red .red-bold{color: #000!important;font-family: 'Aller-Light';}

.custom-link{text-decoration: underline!important;color: #fff;word-break: break-all;}
.custom-link:hover{opacity: 0.9;color: inherit;}
.login-btn{left: 112.2%;}
.comman-heading{text-align: center;font-size: 20px;color: #3c3a3b;font-family: 'Aller-Bold';}
.comman-heading .text-red{text-transform: uppercase;}
.comman-heading span{color: #10069F;}

.inline-dropdown .dropdown{ display: inline-block; vertical-align: middle; }
.inline-dropdown .dropdown + .dropdown{ margin-left: 3px; }
.inline-dropdown .dropdown.date{ width: 48px; }
.inline-dropdown .dropdown.month{ width: 48px; }
.inline-dropdown .dropdown.year{ width: calc(100% - 111px); }
.inline-dropdown .dropdown .dropdown-select{ font-size: 13px;   padding: 0 3px; padding-right: 12px; }
.inline-dropdown .dropdown.select-box .dropdown-select:after{         width: 11px;height: 7px; right: 3px; }

.inline-radio.inline-radio-three ul{ margin-top: 40px }
.inline-radio.inline-radio-three ul li{width: 32%; margin-bottom: 15px; height: 50px}


#foroget_password_box.new-big-popup{width: 890px;bottom: 0;right: 104%;margin-bottom: -62px}
#foroget_password_box.new-big-popup:after{ border-top: 12px solid transparent;border-left: 12px solid #10069f;border-bottom: 12px solid transparent; left: 100%;top: 50%;transform: translateY(-50%) rotate(0);-webkit-transform: translateY(-50%) rotate(0);height: 0;}
#foroget_password_box.new-big-popup .popup-header{line-height: 1.8;margin-bottom: 40px;}
#foroget_password_box.new-big-popup .popup-header p{margin-bottom: 0;letter-spacing: 1px;}
#foroget_password_box.new-big-popup .popup-header strong {font-size: 20px; color: #fff; }
#foroget_password_box.new-big-popup .popup-body-txt{text-align: left;}
#foroget_password_box.new-big-popup .popup-body-txt p{line-height: 1.6;font-size: 18px;}
.popup-ol-txt li>strong{color: #ffffff;line-height: 1.4;font-size: 18px;margin-bottom: 8px;display: block;}

.page-heading .col-md-5.text-right .btn + .btn {  margin-top: 13px; }
.same-section.same-blog{ min-height: 78vh; }

.cheak_open-modal{display: block; margin: 15px 0;}
.cheak_open-modal label{ color: #10069F; font-weight: 600; line-height: 1.4; padding: 0 15px; }

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{     background: #10069F;  border-color: #117a8b; box-shadow: none; }
.btn-info.focus, .btn-info:focus{ box-shadow: none; }
.btn-info:not(:disabled):not(.disabled).active span, .btn-info:not(:disabled):not(.disabled):active span, .show>.btn-info.dropdown-toggle span{     background: #ffffff;color: #10069F; box-shadow: none; }

.inline-radio.inline-radio-2 ul li{width: 46%;}

.nav-box ul{ display: inline-block;  vertical-align: middle; min-width: 400px; }
.nav-box ul + label{ display: inline-block; vertical-align: middle; font-size: 13px; color: #8C91A8; font-family: 'Aller-Regular'; letter-spacing: 1.5px; text-transform: inherit; margin-bottom: 0; font-weight: 500;  position: absolute;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.header-box .col{position: initial;}

.vereinbarung .cheak_open-modal>label{cursor: pointer;}

.min-width-btn{max-width: 410px;margin-left: auto;}
.min-width-btn .btn{width: 100%;}
.emoji{position: relative;}
.emoji:before{content: "";position: absolute;left: 0;top: 9px;width: 30px;height: 30px;background: url(../images/smile-emoji.svg);background-size: cover;}
.emoji:after{content: "";position: absolute;left: 0;bottom: 0;width: 30px;height: 30px;background: url(../images/sad-emoji.svg);background-size: cover;}

.color-red{color: #9E2B5F;font-weight: 600;}
.form-control.blue-input::placeholder{color: #10069F!important;font-family: 'Aller-Bold';}
.dropdown-select-bold.red-input{color: #9E2B5F!important;font-family: 'Aller-Bold'; }

.dropdown-blue{ border-color:#10069F!important; }
.form-control-sm{ font-size: 16px; padding: .375rem .70rem; }



@media (max-width: 1199px)
{
  html ,
  body{ width: 100%; overflow-x: hidden; overflow-y: auto;}
  .login-btn{ position: relative; margin-top: 10px;}
}

@media (max-width: 1024px)
{
  .inline-radio ul li{ width: 100%!important; display: block; margin-bottom: 35px;}
  .inline-radio ul li label{     height: 55px; display: flex; justify-content: start; align-items: center;}
  .inline-radio .radio-box>label span.radio-cheak{ top: 0;}
  .login-btn{ position: relative; margin: 10px 0; left: 0!important;}
}