body{margin:0;padding:0;font-family: 'Aller-Regular';background:#ffffff;font-size:16px; line-height: normal; color: #444; overflow-x: hidden; overflow-y: auto;}
ul, ol, p, form, input, textarea, select, pre, em, sub, sup, canvas, section, article, aside, img, a, li, iframe, table, nav, header, footer, body, menu, button{margin:0;padding:0;font-family: 'Montserrat', sans-serif;vertical-align:baseline;box-sizing:border-box;-webkit-box-sizing:border-box;list-style:none;text-decoration:none;outline:none;border:0;border-spacing:0;border-collapse:collapse;}
*, after, before{box-sizing:border-box;-webkit-box-sizing:border-box;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0;}
body{ line-height: 1; }
strong{font-weight: 600;}
a {color: #00a65e; text-decoration: none;outline: 0;}
a:hover {color:#03647d; text-decoration: none;}
img{ max-width: 100%; }
button:focus{outline: none;}
.clearfix{ clear: both; }


@font-face {
  font-family: 'Aller-Regular';
  src: url('../fonts/Aller-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Regular.woff') format('woff'), url('../fonts/Aller-Regular.ttf')  format('truetype'), url('../fonts/Aller-Regular.svg#Aller-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Aller-Bold';
  src: url('../fonts/Aller-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Bold.woff') format('woff'), url('../fonts/Aller-Bold.ttf')  format('truetype'), url('../fonts/Aller-Bold.svg#Aller-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller-Light';
  src: url('../fonts/Aller-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Aller-Light.woff') format('woff'), url('../fonts/Aller-Light.ttf')  format('truetype'), url('../fonts/Aller-Light.svg#Aller-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@media (min-width: 1200px){
.container-fluid {max-width: 1440px;}
.container{ max-width: 1100px; }
}

.header-box{ padding: 30px 0 15px; border-bottom: 2px solid #8C91A8;  }
.nav-box{  display: block;  }
.nav-box ul li{ display: inline-block; }
.nav-box ul li + li{  margin-left: 15px; }
.nav-box ul li a{ display: block; color: #8C91A8;  letter-spacing: 2px; font-family: 'Aller-Bold'; font-size: 20px;  text-transform: uppercase;  position: relative;} 
.nav-box ul li a:hover,
.nav-box ul li a.active{ color: #10069F; }

.banner-section{ display: block; margin-top: 20px;	 }
.banner-img{width: 100%; height: 484px; display: block;  }
.banner-img img{  width: 100%; height: 100%; object-fit: cover; }

.same-section{ padding: 30px 0; }
.same-heading{ display: block;	 }
.same-heading h2{ color: #10069F; text-transform: uppercase; font-family: 'Aller-Bold'; font-size: 34px; padding-bottom: 15px; }
.same-heading p{ color: #5E6586;line-height: 1.4; font-size: 16px; display: block; }
.same-heading p + p{ margin-top: 17px; }

.footer-nav{ display: block; }
.footer-nav ul li{ display: block; color: #8C91A8;  font-family: 'Aller-Light'; font-size: 15px;	 }
.footer-nav ul li + li{ margin-top: 5px; }
.footer-nav ul li a{ color: #8C91A8;  font-family: 'Aller-Light'; font-size: 15px; }
.footer-nav ul li a:hover{ color: #10069F;  }

.footer-box{ padding: 25px 0 15px; border-top: 2px solid #8C91A8; }

.custom-btn .btn + .btn{ margin-top: 10px; }
.btn{ background: #E8E9ED;box-shadow: -2px -2px 4px #5E658699; min-width: 330px; padding: 5px; border:none;  font-family: 'Aller-Regular'; border-radius: 0;}
.btn span{ display: block; width: 100%; box-shadow: 1px 1px 2px #5E658699;font-size: 20px; text-transform: uppercase; padding: 6px; }
.btn-primary span{ background: #ffffff; color: #5E6586; }
.btn-primary:hover{ background: transparent; }
.btn-primary:hover span{ background:#10069F; color: #ffffff;  }
.btn-info span{ background: #10069F; color: #ffffff }
.btn-info:hover{ background: transparent; }
.btn-info:hover span{ background: #ffffff; color:#10069F; }

.banner-section.anmeldung .banner-img{ height: 348px; }

.input-fill-box{display: block;  max-width: 660px; margin-left: auto;background: #FFFFFF;box-shadow: -3px -3px 6px #19235199;border: 1px solid #8C91A8; padding: 15px;}
.input-fill-box .foroget-password{ margin-top: 15px; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; display: block; margin-top: 20px; }
.input-fill-box .foroget-password:hover{ color: #10069F; }
.input-fill-box .logo-box{ margin-bottom: 20px; }
.input-fill-box .row + .row{ margin-top: 15px; }
.input-fill-box label{ margin-bottom: 0; }
label{text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; }
.form-control{ background: #ffffff; box-shadow: -2px -2px 4px #5E658699; font-size: 18px;  font-family: 'Aller-Light'; color: #000;border-radius: 0; border:2px solid #5E658699; }
.form-control:focus{outline: none; box-shadow: -2px -2px 4px #5E658699; }

.select-box{position: relative;}
.select-box span{ position: absolute; top: 50%; right: 10px; transform: translateY(-50%); -webkit-transform: translateY(-50%); color: #000;  pointer-events: none; }
.select-box select{  -webkit-appearance: none; padding-right:25px;}
.form-group{ margin-bottom: 18px; }
.other-form-box{ margin-top: 40px; }

/*cheakbox*/
.checkbox-custom{ display: block; position: relative;margin: 50px 0;}
.checkbox-custom input{width: 1px; height: 1px; padding: 0;margin-bottom: 0; opacity: 0; visibility: hidden; position: absolute;}
.checkbox-custom label{position: relative; cursor: pointer; margin-bottom: 0; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; padding-left: 66px; line-height: 1.4;}
.checkbox-custom label span.cheak{content:''; border: 2px solid #4dbfb6;  height: 50px; width: 50px; position: absolute; top: -12px; left: 0; border:8px solid #e8e9ed; border-radius: 6px;  background: #fff;}
.checkbox-custom label span.cheak:after{ content: "";  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 20px; height: 20px; background: #170da1; display: none; }
.checkbox-custom input:checked + label span.cheak:after{ display: block; }

.notification-box-cover{ display: block;position: absolute; width: auto; z-index: 2; top: 50px; background: #fff;}
.event-list-box-cover{ display:block; border:1px solid #10069f; position: relative; }
.event-list-box-cover:after{     content: "";position: absolute;width: 0; height: 30px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 29px solid #10069f; display: block; bottom: 100%;left: 18px; transition: 0.3s; -webkit-transition: 0.3s;}
.event-list-box-cover ul{ clear: both; }
.event-list-box-cover ul:after,
.event-list-box-cover ul:before{ content: ""; clear: both; display:block; }
.event-list-box-cover ul li{ display: inline-block; vertical-align: middle; float: left; }
.event-list-box-cover ul li a{ font-size: 20px; padding: 10px 13px;  background: #fff; color: #10069f; text-transform: inherit; background: #10069f; color: #fff}
.event-list-box-cover ul li a.active{ background: #fff; color: #10069f; }
.event-list-box-cover ul li a:hover{background: #fff; color: #10069f;}
.event-list-box-cover ul li + li{ margin-left: 0; }

.input-messge{ color: #8C91A8; font-size: 16px; font-family: 'Aller-Light'; margin-top: 8px; }
.input-space{ margin: 30px 0 10px; }

.text-area{ margin-top: 20px; border:5px solid #8C91A8; border-top: none; }
.text-area p{ display: block; background: #8C91A8; color: #fff; font-size: 20px;  font-family: 'Aller-Bold'; padding: 5px 5px;}
textarea.form-control{ resize: none; height: 100px; }
.form-control:focus{ outline: none; }
.page-cheak-box{ max-width: 900px; margin: 0 auto }
.page-cheak-box .checkbox-custom label span.cheak{ top: 0px; }

.radio-left-text{ display: block; }
.radio-left-text p{ color: #000000; font-size: 20px; font-family: 'Aller-Light'; line-height: 1.4; }
.radio-left-text p strong{ color: #10069F; font-family: 'Aller-Bold'; }

/*cheakbox*/
.radio-box{ display: block; position: relative;}
.radio-box input{width: 1px; height: 1px; padding: 0;margin-bottom: 0; opacity: 0; visibility: hidden; position: absolute;}
.radio-box label{position: relative; cursor: pointer; margin-bottom: 0; text-transform: uppercase;color: #000000;  font-family: 'Aller-Light'; font-size: 20px; padding-left: 66px; line-height: 1.4;}
.radio-box label span.radio-cheak{content:'';   height: 50px; width: 50px; position: absolute; top: -12px;  border-radius: 6px;  background: #e8e9ed; border-radius: 100%; box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 0 4px 0px rgba(0,0,0,0.1);  left: 0;}
.radio-box label span.radio-cheak:after{ content: "";  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 28px; height: 28px; background: #fff; border-radius: 100%; border:3px solid #fff;  }
.radio-box input:checked + label span.radio-cheak:after{ background: #10069f }

.radio-box.small label{ padding-left:50px; }
.radio-box.small label span.radio-cheak{ width: 30px; height: 30px; top: -1px; }
.radio-box.small label span.radio-cheak:after{ width: 15px; height: 15px; border-width: 1px; }

.inline-radio{ display: block; }
.inline-radio ul li{ display: inline-block; vertical-align:middle; width: 49% }
.radio-select-box{ margin-top: 50px; margin-bottom: 40px; }

.inline-radio.line{ max-width: 400px; margin-left: auto; margin-top: 20px; }
.inline-radio.line ul li{ display: block; width: 100%; }
.inline-radio.line ul li + li{ margin-top: 20px; }

.foroget-password-cover{ position: relative; }
#foroget_password_box{ display: block; background: #10069F; padding: 15px 22px; text-align: center; position: absolute;bottom: 100%; right: 0; width: 500px; z-index: 8; margin-bottom: -20px; }
#foroget_password_box:after{    content: "";position: absolute; width: 0; height: 30px; border-left: 12px solid transparent;border-right: 12px solid transparent;border-bottom: 15px solid #10069f; display: block;  transition: 0.3s; -webkit-transition: 0.3s; bottom: 51px;
    left: -27px;transform: rotate(-90deg);}
#foroget_password_box h4{ display: block; color: #fff; font-size: 32px;font-family: 'Aller-Bold'; padding-bottom: 30px;}
#foroget_password_box p{color: #fff; font-size: 20px; font-family: 'Aller-Light'; line-height: 1.3; margin-bottom: 25px; display: block; }

.foroget-password-input{ max-width: 320px; margin:0 auto; }
.foroget-password-input label{ color: #fff; margin-bottom: 15px;   }

.no-input{ display: block;  }
.no-input strong{ display:inline-block; vertical-align: middle; margin-right: 15px;  font-size: 30px; color: #192351; font-family: 'Aller-Bold';}
.no-input input{  width: calc(100% - 53px);display: inline-block;vertical-align: middle;}

.cheak-ul{display: block;}
.cheak-ul ul li{ display: inline-block; vertical-align: middle; }
.cheak-ul ul li + li{ margin-left: 20px; }
.checkbox-custom.small{ height: 50px;margin: 0; }
.list-cheak .cheak-width{ max-width: 100px; }
.row-list .row.align-items-center{ margin-bottom: 20px; }

.row.list-cheak{ margin-left: 0; margin-right: 0; }
.row.list-cheak .col{ padding-left: 0; padding-right: 0; }
.plus-btn{ background: transparent; }
.btn-ro-space{margin-top: 80px;}

.tabel-overlap .table tr th{ color: #fff; font-size: 18px;font-family: 'Aller-Light';  background: #8c91a8; line-height: 1.4; }
.tabel-overlap .table tr td{font-size: 16px; color: #150ba0; padding: 4px;}
.tabel-overlap .table tr{ background: #dddfe8; }
.tabel-overlap .table table tr th{ border-left: none; border-right: none; }
.tabel-overlap select{ width: 100%; display: block; background: transparent; }
.tabel-overlap .table-bordered td, .table-bordered th{ border-color: #000; }
.table-striped tbody tr:nth-of-type(odd){ background:#fff  }

begleiterkrankungen-blog {padding-top: 20px; }
.begleiterkrankungen-section .form-group .col-sm-3 label, .begleiterkrankungen-section .form-group .col-sm-2 label{display: block; font-size: 28px; color: #192351;font-family: 'Aller-Bold';}
.pagination-right li a{color: #000000; font-size: 20px; font-family: 'Aller-Light'; text-transform:uppercase; padding: 6px 8px; border:none;}
.pagination-right li a:hover{background-color: transparent; color: #10069F;}
.bestehend-selectbox ul li {display: inline-block; vertical-align: middle; }
.bestehend-selectbox ul {max-width: 200px; margin-top: -15px;}
.bestehend-selectbox .checkbox-custom{margin: 25px 0px;}
.begleiterkrankungen-section .left-heading{margin-bottom: 50px;}
.bestehend-selectbox {margin-bottom: 70px; }
a.plus-icon {display: block; font-size: 35px; color: #192351;font-family: 'Aller-Bold'; text-align: right;}
.same-blog label span{ text-transform: lowercase;}
.same-blog label {line-height: 30px;}
.same-section .dark-gray label{color: #8C91A8;}
.same-section .dark-gray .checkbox-custom{margin: 0px;}
.text-rezept-event ul li {font-size: 14px; color: #10069F; text-transform: uppercase; font-family: 'Aller-Regular'; display: flex; display: -webkit-flex;word-break: break-all;align-items: center; padding: 10px 0px; border-bottom: 1px solid #000; }
.text-rezept-event ul li span {display: inline-block; margin-left: auto; width: 50%; text-align: right; }
.text-rezept .heading-right span{text-transform: uppercase; color: #000000; font-family: 'Aller-Light'; font-size: 20px; display: block; margin-bottom: 15px; }
.text-rezept-event .dosierung{font-size: 16px; font-family: 'Aller-Regular'; text-align: right; display: block;padding: 10px 0px; color: #192351}
.text-rezept{margin-bottom: 30px;}
.btn-mar-top{margin-top: 30px;}
.page-heading h2{font-size: 32px; color: #9E2B5F; text-transform: uppercase;font-family: 'Aller-Bold';}
.page-heading h2 span {font-size: 20px; display: inline-block; line-height: 30px; }
.page-heading {padding-bottom: 50px; }
.rezepturarzneimittel-section .same-heading{margin-bottom: 30px;}
.rezepturarzneimittel-section .same-heading h2{padding-bottom: 0px;}
.blod-text span {font-size: 20px; color: #192351;font-family: 'Aller-Bold'; display: block; line-height: 30px;}
.event-blog ul li span{font-size: 20px; color: #9E2B5F; text-transform: uppercase;font-family: 'Aller-Bold';}
.event-blog ul li {font-size: 20px; line-height: 30px; font-family: 'Aller-Light'; margin-bottom: 15px;}
.event-blog .bottom-text {text-align: center; font-size: 20px;font-family: 'Aller-Light'; text-transform: uppercase; margin: 15px 0px; display: block; }
.einnah-images {max-width: 800px; margin: 50px auto; display: block; }
.table-heading p{max-width:700px; margin:30px auto; font-size: 20px;font-family: 'Aller-Light'; text-transform: uppercase; text-align: center;}
.tabel-event h2{color: #9E2B5F; font-size: 14px; text-transform: uppercase; text-align: center;font-family: 'Aller-Bold';}
.tabel-event table.table th {color: #FFF; background:#8c91a8; font-size: 16px;font-family: 'Aller-Regular';    font-weight: normal;    border-right: 1px solid #000; }
.tabel-event table.table tbody th{color: #000; font-size: 14px;font-family: 'Aller-Light';background: transparent;}
.tabel-event table.table td{color: #000; font-size: 14px;font-family: 'Aller-Regular'; border-left: 1px solid #CCC;  }
.tabel-event table.table th, .tabel-event table.table td {padding: 8px 10px;border-color: #000;}
.tabel-event table.table .form-control {background: transparent; -webkit-appearance: none; padding-right: 25px; box-shadow: none; border: none; font-size: 14px; padding: 0; padding-right:20px;font-family: 'Aller-Regular'; }
.tabel-event table.table .select-box span{font-size: 10px;}
.tabel-event table.table th.blue-color, .tabel-event table.table td.blue-color, .tabel-event .blue-color, .tabel-event .blue-color span {color: #10069F;}
.tabel-event table.table tr:nth-child(even){background:#ebebeb;}
.tabel-event table.table {margin-top:15px; border: 1px solid #000;}
.tabel-event table.table td{border-color: #000;}
.auswertung .chart-schmerz img{width: 100%;}
.auswertung .chart-schmerz .images-chart{margin-bottom: 30px;}
.schmerz-blog .chart-schmerz{margin-bottom: 30px;}
.table-box-form span{display: block; text-align: center; font-size: 20px; color: #9E2B5F;font-family: 'Aller-Bold'; text-transform:uppercase; margin-top: 15px;}
.table-box-form span strong{color: #10069F;}
.text-rezept.padding-top {padding-top: 40px;}
.eidt-daten {font-size: 20px;font-family: 'Aller-Light'; margin:15px 0px;}
.eidt-daten a {width:45px; display: inline-block; vertical-align: middle; padding:5px; box-shadow: -2px -2px 4px #19235199; margin-left: 5px; }
.dropmenu-box {background: #10069F; color: #FFF; padding: 20px; width: 700px; display: none; position: absolute; z-index: 1;    left: 50%;
    bottom: -170px;;}
.dropmenu-box::before {
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    border-top: 10px solid transparent;
    border-right: 10px solid #10069F;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    left: -10px;bottom: 175px;
}


.dropmenu-box .drop-heading{text-align: center;}
.dropmenu-box .drop-heading h2{font-size: 29px;font-family: 'Aller-Bold'; margin-bottom: 10px;}
.dropmenu-box p{font-size: 20px;font-family: 'Aller-Light'; line-height: 30px; margin-bottom: 15px;} 
.dropmenu-box h3{font-size: 20px;font-family: 'Aller-Bold'; }
.dropmenu-box .drop-heading {margin-bottom: 30px;}
.dosistyp .dropmenu {width: 24px; height: 24px; border: 3px solid #10069F; border-radius: 100px; display: inline-block; text-align: center; line-height: 20px; font-size: 16px; cursor: pointer; }
label.dosistyp {position: relative; width: 100%; }
.tabel-overlap .table tr th{ color: #fff; font-size: 18px;font-family: 'Aller-Light';  background: #8c91a8; line-height: 1.4; }
.tabel-overlap .table tr td{font-size: 16px; color: #150ba0; padding: 4px;}
.tabel-overlap .table tr{ background: #dddfe8; }
.tabel-overlap select{ width: 100%; display: block; background: transparent; }
.tabel-overlap .table-bordered td, .table-bordered th{ border-color: #000; }
.table-striped tbody tr:nth-of-type(odd){ background:#fff  }
.tabel-overlap {max-width: 1199px; margin: auto; }
.menu-box-width{min-width: 1050px;}

.notification-box-cover.menu-box-width.smaall{ min-width: 806px; }
.blue-line-section{ padding: 30px; border:2px solid #10069F; }

.notification-box-cover.menu-box-width.right{ left: 10px; min-width: 1216px; }
.notification-box-cover.menu-box-width.right .event-list-box-cover:after{ left: 350px; }

.tabel-view-box ul li{ display:inline-block; }
.tabel-view-box ul li + li{  margin-left: 25px; }
.tabel-view-box ul li{ color: #192351; font-size: 18px; font-family: 'Aller-Light'; }
.tabel-view-box ul li span{ display: inline-block; vertical-align: middle;width: 30px; height: 15px; vertical-align: middle; margin-right: 10px; }